
*.pyc
leaflet_testing/script_config.py
Data.*
Data/
.spyproject/
__pycache__/
zip/
GoogleDriveAPI/
start_servers.sh
activate_servers
source env/bin/activate
startflask
.flaskenv
script_config_BU.*
.env
Misc/
script_config.py
