*.pem
*.log
*.pyc
*.conf
*.zip
Misc/leaflet_testing/script_config.py
Data.*
Data/
.spyproject/
__pycache__/
zip/
Misc/GoogleDriveAPI/
start_servers.sh
activate_servers
source env/bin/activate
startflask
.flaskenv
script_config_BU.*
.env
Misc/
script_config.py
flaskdeployment.zip
env_BU
GoogleDrive_Config/
*.json
.idea/
settings.yaml
*.yaml
*.yml
*.pdf
query_testing
logs/
.platform
*.pickle
Flask_Application.zip
Flask_Application/requirements_old.txt
StartFlaskLocalHost
pygeosettings.yml
openapi.yml
Flask_Application/ErrorEmail.log
nginx.conf
db-data/
cloudflared/
dockerfile
StartFlaskLocalHost
