<!DOCTYPE html>
<html>
<head>
	<title>Resume</title>
	{% include 'mainImports.html' %}
</head>
<body>
  <div class="container-projects sansserif">
		{% include 'navBar.html' %}
		<div class="project-content">
			<div class="title">Resume</div>
			<div class="separatorbar-title"></div>
			<div class="resume-download">
				<a href="{{ url_for('mainSite_BP.static', filename='resume/docs/GavinL_Web_Resume.pdf') }}" style="text-decoration:none;"><h4 style="margin-top:10px;font-size:16px;">Download Resume PDF</h4></a>
			</div>
			<div class="resume-content">
				<div class="experience-education">
					<h3>Professional Experience</h3>
					<div class="resume-entry">
						<a href="https://zworldgis.com/"><img src="{{ url_for('mainSite_BP.static', filename='resume/icons_images/zworldgis_icon.webp') }}"></a>
						<span><h4>GIS Analyst</h4></span>
						<div class="resume-employ-dates">
							<span class="resume-text">
									<h5>ZWORLD GIS</h5>
							</span>
							<span class="resume-text">
								December 2020 – Present
							</span>
						</div>
						<div>
							<ul>
								<li>Managed GIS development, ArcGIS Online organizations, map generation, online map applications, and data collection needs for local governments, public utilities, and pubic safety agencies </li>
								<li>Located and field inventoried public utility assets, including stormwater, water distribution, sewer, and street signage, using high precision GPS receivers and mobile data collection applications</li>
								<li>Digitized underground network assets and utility easements using Coordinate Geometry (COGO) techniques following engineering plans, survey plans, and legal descriptions</li>
								<li>Optimized staff time dedicated to handling field and routine data updates by developing Python geoprocessing scripts to automate data and file processing workflows</li>
								<li>Developed and quality reviewed street centerlines dataset for use in the future Santa Barbara County Fire Department 911 dispatch system using Python scripts, ArcGIS Data Reviewer, Attribute Rules, and domains to ensure data compliance </li>
								<li>Developed and maintained ArcGIS Online Hosted Feature Layers, Web Maps, and Offline maps for use by the Montecito Fire District in the Tablet Command applicatio</li>
							</ul>
						</div>
					</div>
					<div class="resume-entry">
						<a href="https://www.cityofsalinas.org/"><img src="{{ url_for('mainSite_BP.static', filename='resume/icons_images/SalinasLogo-updated_cropped.png') }}"></a>
						<span><h4>GIS Technician</h4></span>
						<div class="resume-employ-dates">
							<span class="resume-text">
									<h5>City of Salinas</h5>
							</span>
							<span class="resume-text">
								Jan 2017 – July 2020
							</span>
						</div>
						<div>
							<ul>
								<li>Handled city employee, contractor, and public requests for spatial data, maps, and web applications using a variety of formats including, shapefiles, KMLs, file and enterprise </li>
								<li>Built out the city’s sanitary sewer and storm drain system GIS datasets using historic engineering plans</li>
								<li>Published and consumed ArcGIS for Server WFS, WMS, Geoprocessing Services, and Feature Services</li>
								<li>Built Esri Web Maps, Applications, and Operations Dashboards to improve employee workflows, asset management, incident response, and project tracking</li>
								<li>Developed and deployed a web application for estimating affected areas and spill volumes for sanitary sewer gravity main breaks </li>
							</ul>
						</div>
					</div>
					<div class="resume-entry">
						<a href="https://www.mbari.org/"><img src="{{ url_for('mainSite_BP.static', filename='resume/icons_images/mbari_cropped.svg') }}"></a>
						<span><h4>Research Assistant</h4></span>
						<div class="resume-employ-dates">
							<span class="resume-text">
								<h5>Monterey Bay Aquarium Research Institute</h5>
							</span>
							<span class="resume-text">
							Jun – November 2016
							</span>
						</div>
						<div>
							<ul>
								<li>Processed all marine benthic sediment samples collected during a deep sea ecology research project</li>
								<li>Identified and sorted marine organisms suspended within marine sediment by broad taxonomic groupings for further species level identification </li>
								<li>Practiced safe lab procedures to dye samples stored within ethanol and formaldehyde</li>
							</ul>
						</div>
					</div>
					<div class="resume-entry">
						<a href="https://seafloor.otterlabs.org/index.html"><img src="{{ url_for('mainSite_BP.static', filename='resume/icons_images/csumb_SFML.png') }}"></a>
						<span><h4>Student Research Assistant</h4></span>
						<div class="resume-employ-dates">
							<span class="resume-text">
									<h5>California State University Monterey Bay Seafloor Mapping Lab</h5>
							</span>
							<span class="resume-text">
								October 2015 – August 2016
							</span>
						</div>
						<div>
							<ul>
								<li>Generated clean bathymetric data products for California state agencies and university researchers</li>
								<li>Collected and processed data for shallow areas within the San Francisco Bay estuary as part of the California Seafloor Mapping Program</li>
								<li>Deckhand and hydrographic assistant during field data collection onboard small research vessels </li>
								<li>Operated and maintained data collection equipment and logs</li>
								<li>Assisted in general maintenance of research vessels and equipment</li>
								<li>Mapped and measured seasonal variability of coastal dunes using handheld Trimble GPS units</li>
							</ul>
						</div>
					</div>
					<span id="#education-volunteer-section"><h3>Education</h3></span>
					<div class="resume-entry">
						<a href="https://csumb.edu/"><img src="{{ url_for('mainSite_BP.static', filename='resume/icons_images/csumb_round_cropped.png') }}"></a>
						<span><h4>M.S. Applied Marine and Watershed Science</h4></span>
						<div class="resume-employ-dates">
							<div class="resume-text">
									California State University Monterey Bay
							</div>
							<div class="resume-text">
								2015 – August 2017
							</div>
						</div>
					</div>
					<div class="resume-entry">
						<a href="https://csumb.edu/"><img src="{{ url_for('mainSite_BP.static', filename='resume/icons_images/csumb_round_cropped.png') }}"></a>
						<span><h4>B.S. Marine Science</h4></span>
						<div class="resume-employ-dates">
							<div class="resume-text">
									California State University Monterey Bay
							</div>
							<div class="resume-text">
								2011 – January 2015
							</div>
						</div>
					</div>
					<span id="#education-volunteer-section"><h3>Volunteer Work</h3></span>
					<div class="resume-entry">
						<a href="https://www.montereybayaquarium.org/"><img src="{{ url_for('mainSite_BP.static', filename='resume/icons_images/Monterey_Bay_Aquarium_Logo.svg') }}"></a>
						<span><h4>Volunteer Guide</h4></span>
						<div class="resume-employ-dates">
							<span class="resume-text">
									<h5>Monterey Bay Aquarium</h5>
							</span>
							<span class="resume-text">
								October 2014 – November 2018
							</span>
						</div>
						<div>
							<ul>
								<li>Interpreted aquarium attractions for guests, explained environmental and ecological processes, conveyed marine conservation messages, and answered marine science questions</li>
								<li>Assisted in training new volunteers on best practices and interpretative techniques</li>
							</ul>
						</div>
					</div>
				</div>
			<div class="skills">
				<h3>Technical Skills</h3>
				<div class="skill-categories">
					<h4 style="margin-top:0px;">Geospatial Information Systems</h4>
						<div class="skill-div">
							<div class="skill-icon-text">
								<img src="{{ url_for('mainSite_BP.static', filename='resume/icons_images/ArcGIS-Pro.png') }}">
								<span>ArcGIS Pro</span>
							</div>
							<div class="skill-icon-text">
								<img src="{{ url_for('mainSite_BP.static', filename='resume/icons_images/ArcGIS-Online.jpg') }}">
								<span>ArcGIS Online</span>
							</div>
							<div class="skill-icon-text">
								<img src="{{ url_for('mainSite_BP.static', filename='resume/icons_images/ArcGIS-Enterprise.png') }}">
								<span>ArcGIS for Server</span>
							</div>
							<div class="skill-icon-text">
								<img src="{{ url_for('mainSite_BP.static', filename='resume/icons_images/arcmap_transparent.png') }}">
								<span>ArcMap</span>
							</div>
							<div class="skill-icon-text">
								<img src="{{ url_for('mainSite_BP.static', filename='resume/icons_images/qgis_icon.svg') }}">
								<span>QGIS</span>
							</div>
					</div>
					<h4>Scripting and Automation</h4>
						<div class="skill-div">
							<div class="skill-icon-text">
								<img src="{{ url_for('mainSite_BP.static', filename='resume/icons_images/Python-logo.svg') }}">
								<span>Python</span>
							</div>
							<div class="skill-icon-text">
								<img src="{{ url_for('mainSite_BP.static', filename='resume/icons_images/APIforPython.png') }}">
								<span>ArcPy/ArcGIS API for Python</span>
							</div>
							<div class="skill-icon-text">
								<img src="{{ url_for('mainSite_BP.static', filename='resume/icons_images/ArcadeIcon.png') }}">
								<span>ArcGIS Arcade</span>
							</div>
						</div>
					<h4>Database Querying & Management</h4>
						<div class="skill-div">
							<div class="skill-icon-text">
								<img src="{{ url_for('mainSite_BP.static', filename='resume/icons_images/PostgreSQL_logo.3colors.svg') }}">
								<span>PostgreSQL/PostGIS</span>
							</div>
							<div class="skill-icon-text">
								<img src="{{ url_for('mainSite_BP.static', filename='resume/icons_images/sqla_logo.png') }}" style="max-width:200px;">
								<span>Python SQLAlchemy ORM</span>
							</div>
						</div>
					<h4>GIS Website Development</h4>
						<div class="skill-div">
							<div class="skill-icon-text">
								<img src="{{ url_for('mainSite_BP.static', filename='resume/icons_images/HTML5_Logo.svg') }}">
								<span>HTML5</span>
							</div>
							<div class="skill-icon-text">
								<img src="{{ url_for('mainSite_BP.static', filename='resume/icons_images/CSS3_logo_and_wordmark.svg') }}">
								<span>CSS3</span>
							</div>
							<div class="skill-icon-text">
								<img src="{{ url_for('mainSite_BP.static', filename='resume/icons_images/JavaScript-logo.png') }}">
								<span>JavaScript</span>
							</div>
							<div class="skill-icon-text">
								<img src="{{ url_for('mainSite_BP.static', filename='resume/icons_images/flask-icon.png') }}">
								<span>Python Flask</span>
							</div>
							<div class="skill-icon-text">
								<img src="{{ url_for('mainSite_BP.static', filename='resume/icons_images/APIforPython.png') }}">
								<span>ArcGIS JavaScript API</span>
							</div>
							<div class="skill-icon-text">
								<img src="{{ url_for('mainSite_BP.static', filename='resume/icons_images/leaflet_logo.png') }}">
								<span>Leaflet</span>
							</div>
						</div>
					<h4>UAV Operator</h4>
						<div class="skill-div">
							<div class="skill-icon-text">
								<img src="{{ url_for('mainSite_BP.static', filename='resume/icons_images/drone.svg') }}">
								<span>Part 107 Pilot</span>
							</div>
							<div class="skill-icon-text">
								<img src="{{ url_for('mainSite_BP.static', filename='resume/icons_images/odm-logo.svg') }}">
								<span>OpenDroneMap</span>
							</div>
							<div class="skill-icon-text">
								<img src="{{ url_for('mainSite_BP.static', filename='resume/icons_images/dronelink_logo.webp') }}">
								<span>Dronelink</span>
							</div>
						</div>
					</div>
					<h4>Other Tools/Software</h4>
						<div class="skill-div">
							<div class="skill-icon-text">
								<img src="{{ url_for('mainSite_BP.static', filename='resume/icons_images/docker_logo.png') }}">
								<span>Docker</span>
							</div>
							<div class="skill-icon-text">
								<img src="{{ url_for('mainSite_BP.static', filename='resume/icons_images/GitHubMark120pxplus.png') }}">
								<span>Git/Github</span>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
	{% include 'footer.html' %}
	</div>
</body>
</html>
