<!DOCTYPE html>
<html>
<head>
	<title>Template Testing</title>
	{% include 'mainImports.html' %}
</head>
<body>
  <div class="container-projects sansserif">
		{% include 'navBar.html' %}
		<div class="project-content">
			<div class="title">Santa Barbara County Ocean Water Quality</div>
			<div class="separatorbar-title"></div>
			<iframe src="/sbcoceanwaterquality"></iframe>
			<div class="iframe-link">
				<a href="/sbcoceanwaterquality" target="_blank">View fullpage map</a>
			</div>
			<div class="separatorbar-title"></div>
			<span id="summary" class="goto"></span>
			<h2><a href=#summary>
				Summary
			</a></h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Erat nam at lectus urna duis convallis convallis tellus id. Ultrices mi tempus imperdiet nulla malesuada pellentesque elit eget. Suspendisse sed nisi lacus sed viverra tellus. Fermentum et sollicitudin ac orci phasellus egestas tellus rutrum tellus. Fermentum posuere urna nec tincidunt praesent semper feugiat. Pretium aenean pharetra magna ac placerat.
			</p>
			<div class="toc-container">
				<p class="toc-title">Project Description Contents</p>
				<ol class="toc-list">
					<li><a href="#water-qual-summary">Summary</a></li>
					<li><a href="#PDF-processing">PDF Processing</a></li>
					<li><a href="#data-storage">Data Storage - Postgres</a></li>
					<li><a href="#storing-pdfs">Storing PDF Reports</a></li>
					<li><a href="#serving-data-leafet">Serving up Data for Leaflet</a></li>
					<li><a href="#leaflet">Leaflet</a></li>
					<li><a href="#final-thoughts">Final Thoughts</a></li>
				</ol>
			</div>
			<span id="PDF-processing" class="goto"></span>
			<h3><a href=#PDF-processing>PDF Processing</a></h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Erat nam at lectus urna duis convallis convallis tellus id. Ultrices mi tempus imperdiet nulla malesuada pellentesque elit eget. Suspendisse sed nisi lacus sed viverra tellus. Fermentum et sollicitudin ac orci phasellus egestas tellus rutrum tellus. Fermentum posuere urna nec tincidunt praesent semper feugiat. Pretium aenean pharetra magna ac placerat.
				</p>
		</div>
		{% include 'footer.html' %}
		</div>
	</div>
</body>
</html>
