<!DOCTYPE html>
<html>
<head>
	<title>Title</title>
	{% include 'projectimports.html' %}
	<!-- Standard custom CSS/JS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/AppTitleBar.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/MapStandardCSS.css') }}">

	<!-- Project specific imports -->

	<!-- Local static files-->
	<!-- Custom local javascript functions -->


	<!-- Custom CSS -->
	<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/AppTitleBar.css') }}"> -->
	<!-- <link rel="stylesheet" href="{{static', filename='css/MapStandardCSS.css') }}"> -->
</head>
<body>
	<div class="container sansserif">
		<div class="item titlediv">
			<!-- <div id = "Title" class="titletext">Titler</div> -->
			{% include 'WebAppTitleBar.html' %}
			<!-- Modal -->
			<!-- The Modal -->
			<div id="myModal" class="modal">
			  <div class="modal-content-container">
			    <!-- <div class="close">&times;</div> -->
					<div class="close">&times;</div>
					<div class="modal-text">
						<p style="margin-top:0px;"><b>Map Details</b>
						<br>
							This personal project displays my up-to-date <a href=https://www.strava.com/>Strava</a> activity information on a interactive mobile friendly data dashboard using Leaflet to display geographical data and Chart.JS to display graphical information. Data can be filtered and explored by using buttons, date selections, searches, and by selecting geographical data.
						</p>
						<p>
							Histroic Strava data were initially pulled from the <a href=https://developers.strava.com/>Strava API</a> and processed using Python, then a webhook subscription was created which updates my server when new activities are available for processing. Strava activity data are processed in Python using PostGIS functions to remove private areas and to simplify geometries to reduce file sizes, at the cost of spatial accuracy. Data are pre-calculated and served to the Leaflet map in the TopoJSON format to further reduce file sizes and server response times.
						</p>
						<p>
						Visit the <a href=/projects/stravamapserverside>server-side processing project page</a> for this dashboard to see a full description of the server side processing and data preparation steps.
						</p>
						<p><b>Contact Me</b>
						<br>
						If you have any questions, feature suggestions, comments, or notice any errors/bugs feel free to email me at <span id="emailaddr"></span>
						</p>
						<p>
							You can see my other projects under the <a href=/#goto-proj>projects</a> section of this site.
						</p>
						<p>You can visit my GitHub repo for this project and others <a href=https://github.com/gavleavitt/Flask_Website_Project target="_blank">here</a>.
						</p>
					</div>
			 </div>
		 </div>
		</div>
		<script src="{{ url_for('static', filename='js/modalFastLoad.js') }}"></script>
		<script>
		var email = "gav" + "lea" + "web" + "@g" + "mail" + ".com";
		document.getElementById("emailaddr").innerHTML = "<a href='mailto:" + email + "'>" + email + "</a>"
		</script>
</body>
</html>
