<!DOCTYPE html>
<html>
<head>
	<title>{{mapTitle}}</title>
	{% include 'mainImports.html' %}
</head>
<body>
  <div class="container-projects sansserif">
		{% include 'navBar.html' %}
		<div class="project-content">
			<div class="title">{{mapTitle}}</div>
			<div class="separatorbar-title"></div>
			<iframe src="{{ url_for('orthoviewer_BP.orthoviewermainol') }}"></iframe>
			<div class="iframe-link">
				<a href="{{ url_for('orthoviewer_BP.orthoviewermainol') }}"target="_blank">View fullpage map</a>
			</div>
			<div class="separatorbar-title"></div>
			<span id="orthoviewer-summary" class="goto"></span>
			<h2><a href=#orthoviewer-summary>
				Summary
			</a></h2>
			<p>
			This is an ongoing personal project to collect, process, and display orthomosaic imagery collected from a Mavic Mini 1 drone. Mission planning and execution are conducted using the <a href="https://www.dronelink.com/">Dronelink</a> web and mobile applications and currently all mission flights are flown using a DJI Mavic Mini SE. After collection, imagery are processed into orthomosaics using the free, Docker command line, version of <a href"https://www.opendronemap.org/odm/">OpenDroneMap</a>. The imagery are then compressed and converted into <a href="https://www.cogeo.org/">Cloud Optimized GeoTIFFS (COG)</a> and uploaded to <a href="https://aws.amazon.com/s3/">S3</a> cloud storage. Finally, the data are displayed using <a href="https://openlayers.org/">OpenLayers</a> which supports COGs.
		</p>
		<p>
			COGs allow for easy and efficient storage and retrieval of raster data without the need for a dedicated imagery server. Data are retrieved based on view scale, limiting the data transfer required to view the imagery. The data can be viewed at full source resolution when viewed at smaller scales. This method also requires much less server-side storage space than raster tiles, at the cost of client-side processing, which must be pre-processed and stored at the desired scales.
		</p>
		<div class="toc-container">
			<p class="toc-title">Project Description Contents</p>
			<ol class="toc-list">
				<li><a href="#orthoviewer-summary">Summary</a></li>
				<li><a href="#drone">Mavic Mini 1</a></li>
				<li><a href="#planning">Mission Planning</a></li>
				<li><a href="#execution">Mission Execution</a></li>
				<li><a href="#orthoprocessing">Orthomosaic Processing</a></li>
				<li><a href="#servingcogs">Serving Imagery Data - COGs</a></li>
				<li><a href="#viewingcogs">Viewing the Imagery Data - OpenLayers</a></li>
				<li><a href="#final-thoughts">Final Thoughts</a></li>
			</ol>
		</div>
		<span id="drone" class="goto"></span>
		<h3><a href=#drone>Drone - Mavic Mini 1</a></h3>
		<div style="display:flex;justify-content:center;margin-bottom:18px;">
			<img src="{{ url_for('projectPages_BP.static', filename='project-Live-Tracking-Dashboard/icons_images/dash_mtb_ex1_comp.png') }}" style="min-width:50%;">
		</div>
		<p>
			The drone used for imagery collection is the Mavic Mini 1. This is DJIs lightweight drone that comes in at 249 grams, right under the FAAs mass limit for registration. The compact lightweight nature of it means that it packs small and can be easily carried and deployed. The bottom props do not have good ground clearance. I use hand take-offs and landings for most flights to avoid the risk of losing props to ground debris. The default flight control app, DJI Fly, is pretty barebones and does not include advanced functions for mission planning or waypoints. But the Mavic Mini 1 has an open APK that third party vendors can use in their own flight applications.
		</p>
		<span id="planning" class="goto"></span>
		<h3><a href=#planning>Mission Planning</a></h3>
			<p>
				The <a href="https://www.dronelink.com/">Dronelink</a> service is used for mission planning and execution, this service is not free and requires a one time purchase for non-commerical use. Note that I am operating under a legacy license which includes more advanced features such as Terrain follow, I believe this now requires a higher level license to access. Dronelink supports many drones, including the Mavic Mini, by using a <a href="https://support.dronelink.com/hc/en-us/articles/360052533133-What-makes-Dronelink-different-or-better-than-other-apps-">Virtual Stick</a> command method which sends virtual stick commands to the drone through the controller, as if they were issued by an human operator. While this requires constant connection between the phone, controller, and drone, and can cause input delays, it allows more advanced missions than normally available to cheap/simple drones like the Mini, which has no native support for waypoints to be uploaded to the drone.
			</p>
			<p>
				Missions are planned on a desktop using the Dronelink web browser application. This application supports a variety of mission types, but the <a href="https://support.dronelink.com/hc/en-us/articles/6823062938899-Basic-Mapping-Map-Mission-Component-Intro">Map</a> option is used for collecting the necessary nadir images.
			</p>
			<p>
				Upon opening the Map option, a small plan area will be drawn on the screen, it can be adjusted to the desired mission area using the polygon corner handles. Next, the desired paramaters for camera type, flight altitude, altitude reference, overlaps and max speed are selected. The Ground Sample Distance and flight lines will update as paramaters are adjusted. Example from a flight near Via Gaitero road in Goleta:
			</p>
				<div style="display:flex;justify-content:center;margin-bottom:18px;">
					<img src="{{ url_for('projectPages_BP.static', filename='project-Live-Tracking-Dashboard/icons_images/dash_mtb_ex1_comp.png') }}" style="min-width:50%;">
				</div>
			<p>
				While the software supports multi-battery missions, the flight area was adjusted such that a single battery can be used for each planned mission, the mission estimation window gives the estimated battery use:
			</p>
			<div style="display:flex;justify-content:center;margin-bottom:18px;">
				<img src="{{ url_for('projectPages_BP.static', filename='project-Live-Tracking-Dashboard/icons_images/dash_mtb_ex1_comp.png') }}" style="min-width:50%;">
			</div>
			<p>
				The ground sample distance goal for most missions is 0.75 in/px and front/side overlaps of 80/70% are used. For the Mini this means flying at 170 ft altitude, this also puts the drone well above buildings, trees, and utility poles in the area. Using the Terrain Follow reference option allows the drone to maintain a constant height above the terrain level ensuring correct GSD and overlap for the entire mission. In the mission preview window, more detailed estimates can be viewed, including 3D flight lines adjusted for terrain:
				<div style="display:flex;justify-content:center;margin-bottom:18px;">
					<img src="{{ url_for('projectPages_BP.static', filename='project-Live-Tracking-Dashboard/icons_images/dash_mtb_ex1_comp.png') }}" style="min-width:50%;">
				</div>
			</p>
			<p>
				However, using Terran Follow requires that the drone be lauched from within a specfic pre-planned area so its important to place it in a safe and easy to find location. Fortunately, this location can be adjusted using the mobile application if needed.
			</p>
		</div>
		<span id="execution" class="goto"></span>
		<h3><a href=##execution>Mission Execution</a></h3>
			<p>
			Flight execution is straight foward using the Dronelink mobile application as the application handles all flight input and provides drone telemetry. When using Terrain Follow it can be challenging to find the correct launch point as the application doesn't do a great job showing your location, this can be compounded when the basemap imagery is old or low quality.
			</p>
			<p>
			The application always shows poor connection, presumably due to a weak transmitter on the drone. I also ran into difficulties with the application reporting good calibration metrics but being unable to properly start missions due to location problems. This appears to be fixed by always performing a drone calibration when arriving on site.
			</p>
			<p>
			 Geofencing and <a href="https://www.dji.com/flysafe/geo-map">authorization zones</a> around airports can be troublesome to deal with as they do not match <a href="https://www.faa.gov/uas/programs_partnerships/data_exchange">FAA LAANC</a> areas:
		 	</p>
			<div style="display:flex;justify-content:center;margin-bottom:18px;">
				<img src="{{ url_for('projectPages_BP.static', filename='project-Live-Tracking-Dashboard/icons_images/dash_mtb_ex1_comp.png') }}" style="min-width:50%;">
			</div>
			<p>
				In my area, LAANC approval can be automatically recieved for areas and altitudes that DJI will prevent the drone from flying within. Since Dronelink is beholden to limits set by the DJI APK, it cannot operate within these zones. This has lead to issues with executing flights that are allowed within LAANC but not DJI. I've also ran into issues when using Terran Follow. I believe that in the DJI APK the drone calculates its altitude in reference to the take-off location and not its current location. This means that if the drone climbs in altitude to maintain height above terrain it may hit a DJI enforced altitude ceiling, preventing further mission execution. The solution for this problem appears to be taking off at the highest point possible, ensuring that the drone never climbs too height in relation to the start location.
		 </p>
		 <p>
			 Both these problems could possibly be solved by going through the DJI authorization process but I have not gone through the process yet.
		 </p>
	 <span id="orthoprocessing" class="goto"></span>
	 <h3><a href=#orthoprocessing>Orthomosaic Processing</a></h3>
	 <p>
		 After collection, imagery are processed using the free console line version of <a href="https://www.opendronemap.org/odm/">OpenDroneMap</a>. This version of ODM runs within a <a href="https://www.docker.com/">Docker</a> Container which greatly simplifies the install process since all requirements are included within the container.
	 </p>
	 <p>
		 While the free version does not have a GUI, the command line commands are relatively easy to understand. The optional commands are described <a>here</a>.
	 </p>
	 <span id="servingcogs" class="goto"></span>
	 <h3><a href=#servingcogs>Serving Imagery Data - COGs</a></h3>
	 <span id="viewingcogs" class="goto"></span>
	 <h3><a href=#viewingcogs>Viewing the Imagery Data - OpenLayers</a></h3>
		{% include 'footer.html' %}
		</div>
	</div>
</body>
</html>
