<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Leaflet Map</title>
	<!-- CDN files-->
	<!-- Leaflet css-->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>
	<!-- Other imports! -->
	<!-- leaflet Javascript-->
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
	<!--jquery adds "$." functionality-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- leaflet.wms  found from: https://github.com/heigeo/leaflet.wms -->
	<!-- Load Esri Leaflet from CDN, stable -->
	<script src="https://unpkg.com/esri-leaflet@2.4.0/dist/esri-leaflet.js"
	integrity="sha512-kq0i5Xvdq0ii3v+eRLDpa++uaYPlTuFaOYrfQ0Zdjmms/laOwIvLMAxh7cj1eTqqGG47ssAcTY4hjkWydGt6Eg=="
	crossorigin=""></script>
	<!-- Esri Leaflet and Esri Leaflet Vector, experimential -->
	<script src="https://unpkg.com/esri-leaflet/dist/esri-leaflet.js"></script>
	<script src="https://unpkg.com/esri-leaflet-vector/dist/esri-leaflet-vector.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/mapbox-gl/dist/mapbox-gl.css"/>
	<script src="https://unpkg.com/mapbox-gl/dist/mapbox-gl.js"></script>
	<!-- load the latest release from the cdn automatically -->
	<script src="https://unpkg.com/esri-leaflet-vector/dist/esri-leaflet-vector-debug.js"></script>
	<!-- Measure CSS -->
	<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/gokertanrisever/leaflet-ruler/master/src/leaflet-ruler.css">
	<!--Measure Javascript -->
	<script src="https://cdn.rawgit.com/gokertanrisever/leaflet-ruler/master/src/leaflet-ruler.js"></script>


	<!-- Local static files-->
	<!-- Leaflet rotate marker -->
	<script src="{{ url_for('static', filename='js/leaflet.rotatedMarker.js') }}"></script>
	<!-- leaflet realtime -->
	<script src="{{ url_for('static', filename='js/leaflet-realtime.js') }}"></script>
	<!-- leaflet Mouset Position JS-->
	<script src="{{ url_for('static', filename='js/L.Control.MousePosition.js') }}"></script>
	<!-- leaflet Mouse Position css -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/L.Control.MousePosition.css') }}">
	<!-- leaflet Polyline Decorator JS-->
	<script src="{{ url_for('static', filename='js/leaflet.polylineDecorator.js') }}"></script>
	<!-- leaflet Ajax JS-->
	<script src="{{ url_for('static', filename='js/leaflet.ajax.js') }}"></script>
	<!-- leaflet Ajax JS-->
	<script src="{{ url_for('static', filename='js/leaflet.ajax.min.js') }}"></script>
	<!-- Custom local javascript functions -->
	<script src="{{ url_for('static', filename='js/customfunctions.js') }}"></script>
	<!-- Custom CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/customCSS.css') }}">

	<!-- leaflet dialog -->
	<!-- <script src="leaflet/Javascript/leaflet.wms.js"></script> -->
	<!-- <script src="leaflet/Javascript/Leaflet.Dialog.js"></script> -->
	<!-- leaflet dialog css -->
	<!-- <link rel="stylesheet" href="leaflet/CSS/Leaflet.Dialog.css"/> -->
	<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/Leaflet.Dialog.css') }}" -->

	<style>
	/*
		body {
				 padding: 0;
				 margin: 0;
		 }
		 */
	 </style>
</head>
<body>
	<div class="container sansserif">
	  <div class="item title">GPS Location Tracking</div>
	  	<div class="item map-panel detail-panel-col">
				<div id='map'></div>
		</div>
	  <div class="item detail-panel">
			<div class="item detail-1 detail-panel-col">
				<div>
					<div class="div-span-margin">
						<span class='detail-context'>Location</span>
					</div>
					<div class="div-span-margin">
						<span id='location' class='detail-text'><br>Loading!</span>
					</div>
				</div>
			</div>
			<div class="item detail-2 detail-panel-col text-icon-panel">
				<div>
					<div>
						<p class='detail-context'>Activity</p>
					</div>
					<div>
						<p id='activity' class='detail-text'>Loading!</p>
					</div>
				</div>
				<div>
				<img id='activity-icon' class='icon-activity' src="{{ url_for('static', filename='images/loading.svg') }}">
				</div>
			</div>
			<div class="item detail-3 detail-panel-col">
				<div>
					<p id= "nearest-road-text" class='detail-context'>Nearest Road</p>
					<p id='nearest-road' class='detail-text'>Loading!</p>
				</div>
			</div>
			<div class="item detail-4 detail-panel-col">
				<div>
					<p class='detail-context'>Last logged time</p>
					<p id='last-logged'class='detail-text'>Loading!</p>
					<!--
					<p id='start-logging-context' class='detail-context'>Current logging start:</p>
					<p id='start-logging-text' class='detail-text'>Loading!</p>
				-->
				</div>
			</div>
			<div class="item detail-5 detail-panel-col text-icon-panel">
				<div>
					<p class='detail-context'>Battery</p>
					<p id= 'batterylife' class='detail-text'>Loading!</p>
				</div>
				<div>
					<img id='battery-icon' class='icon-battery' src="{{ url_for('static', filename='images/battery-white-loading.svg') }}">
				</div>
			</div>
			<div class="item detail-6 detail-panel-col">
				<div>
					<p class='detail-context'>Coordinates</p>
					<p  id='coordinates' class='detail-text'>Loading!</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Set the url root -->
	<script type=text/javascript>
  	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
	<script>
		// Make basemaps
		var streetsnight = L.esri.Vector.basemap('StreetsNight');
		var imageryesri = L.esri.basemapLayer('Imagery');
		var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			 attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'})

		// intilize map with basemap:
		var map = L.map('map',
			{layers: [streetsnight]}).setView([34.41,-119.86],15);
		/*
		document.getElementsByClassName("leaflet-control-zoom-out")[0].style.setProperty('background-color', '#2b3940');
		document.getElementsByClassName("leaflet-control-zoom-out")[0].style.setProperty('color', '#5ac73e');
		//document.getElementsByClassName("leaflet-control-zoom-out")[0].style.setProperty('border', '1px solid #20ebf5');
		document.getElementsByClassName("leaflet-control-zoom-in")[0].style.setProperty('background-color', '#2b3940');
		//document.getElementsByClassName("leaflet-control-zoom-in")[0].style.setProperty('border', '1px solid #20ebf5');
		document.getElementsByClassName("leaflet-control-zoom-in")[0].style.setProperty('color', '#5ac73e');
		*/

		// Set time variable to null, used to determine if a record is new
		time = null
		//leaflet dialog plugin options
		var dialog_options = {
			anchor: [90,5],
			position: 'topleft',
			size: [200,450]
		};


		var lineStyle = {
			"color": "#ff7800",
			"weight": 3,
			"opacity": 0.5
		};

		//leaflet Mouse Position plugin, displays coordinates at cursor location, uses leaflet position placement
		var mousepos = {
			position: "bottomright"
		};
		//var server = 'http://10.0.0.4:5000/getgeojson'
		var server_livepts = $SCRIPT_ROOT + '/api/v0.1/getgeojson'
		var server_tracks = $SCRIPT_ROOT + '/api/v0.1/gettracks'
		//console.log("############# Address is: " + server_livepts)
		//console.log($SCRIPT_ROOT)
		L.control.mousePosition(mousepos).addTo(map);
		realtime = L.realtime({
			/*
			Leaflet realtime plugin, polls json service id field for changes and places a marker at the most recent location.
			*/
				url: server_livepts,
		    crossOrigin:false,
		    type: 'json'
		}, {
			interval: 5 * 1000,
			pointToLayer: function (feature, latlng) {
				if (["MTB","Run","Walk","Hike","Driving","road_bike"].includes(feature.properties.profile)){
					//Live tracking GPS icon arrow, dynamic rotation according to direction, dynamic location
					var liveicon = L.icon({
							iconUrl: 'static/images/arrow_green.png',
							iconSize: [30, 50],
							//fillOpacity: 0.5
						});
					//};
					angle = Number(feature.properties.direction)
					return L.marker(latlng,{icon: liveicon,rotationAngle:angle,rotationOrigin:'center'});
				} else {
					//Live tracking GPS icon, static shape, dynamic location
					var livemarkersettings = {
						radius: 8,
						weight: 1,
						fillColor: "#FF0010",
						color: "#00FF00",
						fillOpacity: 0.5
					};
					return L.circleMarker(latlng,livemarkersettings);
				}
			}
		}).addTo(map);
		/*
		var decGroup = L.layerGroup().addTo(map);
		var decor = $.getJSON(server_tracks, function(data) {
			L.geoJson(data, {
				onEachFeature: function (feature, layer) {
					var polydec =  L.polylineDecorator(layer, {
							 patterns: [
								 { offset: 12, repeat: 25, symbol: L.Symbol.dash({pixelSize: 10, pathOptions: {color: '#f00', weight: 2}}) },
								 //{ offset: 0, repeat: 25, symbol: L.Symbol.dash({pixelSize: 0}), pathOptions:{color:'orange'} },
								 {offset: 12, repeat: 200, symbol: L.Symbol.arrowHead({pixelSize: 15, pathOptions: {fillOpacity: 1, weight: 0, color:'orange'}})}
							 ]
					 }).addTo(map);
					 decGroup.addLayer(polydec);
				 }
			 })
		 });
		 */

		 var decGroup = L.layerGroup().addTo(map);
		 realtime_polylines = L.realtime({
			url: server_tracks,
			crossOrigin:false,
			type: 'json'
 			}, {
 				interval: 5 * 1000,
				onEachFeature: function (feature, layer) {
					var polydec = L.polylineDecorator(layer, {
							 patterns: [
								 { offset: 12, repeat: 25, symbol: L.Symbol.dash({pixelSize: 10, pathOptions: {color: '#f00', weight: 2, interactive:'false'}}) },
								 //{ offset: 0, repeat: 25, symbol: L.Symbol.dash({pixelSize: 0}), pathOptions:{color:'orange'} },
								 {offset: 12, repeat: 200, symbol: L.Symbol.arrowHead({pixelSize: 15, pathOptions: {fillOpacity: 1, weight: 0, color:'orange', interactive:'false'}})}
							 ]
					}).addTo(map);
					decGroup.addLayer(polydec);
				}
			}
		);
		realtime.on('update', function(e) {
			/**
			Changes displayed text when changes are detected during polling.
			*/
				//console.log("Inside .on() function")
				Object.keys(e.update).forEach(function(id) {
				//console.log("Inside for each function")
				var feature = e.update[id];
				document.getElementById('last-logged').innerHTML = formattime(feature.properties.timeutc);
				document.getElementById('last-logged').innerHTML += timedif(feature.properties.timeutc);
				document.getElementById('nearest-road').innerHTML = nearestpathway(feature.properties.nearestroad,feature.properties.nearesttrail,feature.properties.dist_nearestroad,
					feature.properties.dist_nearesttrail,feature.properties.POI,feature.properties.speed);
				document.getElementById('batterylife').innerHTML = batteryinfo(feature.properties.battery);
				document.getElementById('coordinates').innerHTML = coors(feature.properties.lat,feature.properties.lon,feature.properties.provider);
				document.getElementById('activity').innerHTML = activitytext(feature.properties.profile);
				document.getElementById('location').innerHTML = locationtext(feature.properties.POI,feature.properties.city,feature.properties.county);
				document.getElementById('battery-icon').src = batteryicon(feature.properties.battery);
				activityicon(feature.properties.profile)

				if (time !== feature.properties.timestamp_epoch){
					/**
					Used to detect if a new record has been entered, changes map bounds only if the time field has changed,
					consider using the "Id" field instead.
					*/
					//console.log("changing bounds!")
					time = feature.properties.timestamp_epoch
					map.fitBounds(realtime.getBounds(), {maxZoom: 15})
				}
				}.bind(this));
		});

		// Basemaps dictionary
		var basemaps = {
			"<span>Streets Night (Vector)</span>": streetsnight,
			"<span>Imagery (Raster)</span>": imageryesri,
			"<span>OSM (Vector)</span>": osm
		};
		var livedata = {
			"<span><b>Location</b></span>":realtime,
			"<span><b>Tracks</b></span>":decGroup
		}
		//Add control menu for basemaps
		L.control.layers(basemaps,livedata).addTo(map);
		//Ruler options
		var ruler_options = {
			position: 'topright',
			lengthUnit: {
				factor: 3280.84,    //  from km to feet
				display: 'feet',
				label: 'Distance',
				decimal: 2
			}
		};

		//Add ruler to map
		L.control.ruler(ruler_options).addTo(map);

	</script>
</body>
</html>
