:root{
  /* --backgroundwhite: #fcfcfc; */
  --titlebackground: #f7f7f7;
  --bluecol: #394463;
  --fontcol: #0f0f0f;
  --backgroundwhite: #b5baff;
  --textwhite: #fcfcfc;
  /* --projbackcol: #e8e9fa; */
  /* --projbackcol:#e0e3ff; */
  --projbackcol:white;
  --graytext: #121212;
  --codebackground:#dedede;
}

body {
  background-color:var(--projbackcol);
  /* min-height: 100%; */
  margin: 0;
  color: var(--graytext);
  height: 100%;
}

html{
  margin: 0;
  /* min-height: 100%; */
  width: 100%;
  /* font-family: 'Quicksand', Helvetica, Arial; */
  overflow: auto;
  height: 100%;
}

.sansserif {
  font-family: 'Sans Source Pro', Helvetica, sans-serif;
}

img{
  max-width: 100%;
  /* max-height: 100%; */
}

iframe{
  width: 100%;
  height: 800px;
  border: 1px solid gray;
  margin-top: 10px;
}

pre{
  /* white-space: pre-wrap; */
  overflow-x: auto;
  border-radius: 20px;
  box-shadow: 5px 6px 8px #888;
  tab-size: 2;
  -moz-tab-size: 2;
  /* overflow-y: auto;
  display: inline-block;
  min-width: 100%;
  word-wrap: normal;
  background-color: var(--codebackground);
  */
}

code{

}

p {
  font-size: 18px;
  color: var(--graytext);
  /* font-family: 'Quicksand', Helvetica, Arial; */
}

h1{
  color: var(--bluecol);
  /* padding-left: 50px; */
  margin-right: 50px;
  margin-left: 50px;
  padding-top: 15px;
  font-size: 30px;
  font-weight: bold;
  /* border-bottom: 2px solid black; */
}

h2{
  /* font-family: 'Quicksand', Helvetica, Arial; */
  color: #0800ad;
  font-size: 28px;
}

h3{
  /* font-family: 'Quicksand', Helvetica, Arial; */
  color: var(--bluecol);
  font-size: 24px;
}

h4{
  /* font-family: 'Quicksand', Helvetica, Arial; */
  color: var(--bluecol);
  font-size: 22px;
}

h5{
  /* font-family: 'Quicksand', Helvetica, Arial; */
  color: var(--bluecol);
  font-size: 18px;
  font-weight: bold;
}


.container-main {
  display: grid;
  width:100%;
  height:100%;
  grid-template-rows: 50px 500px 1fr;
  grid-gap: 0px;
  background-color: var(--projbackcol);
}


.container-projects {
  display: grid;
  width:100%;
  height:100%;
  grid-template-rows: 50px 1fr auto;
  grid-template-columns: minmax(0, 1fr);
  grid-gap: 0px;
  background-color: var(--projbackcol);
}

.container-resume {
  display: grid;
  width:100%;
  height:100%;
  grid-template-rows: 50px 1fr auto;
  grid-gap: 0px;
  background-color: var(--projbackcol);
}


.container-about{
  grid-row: 2/3;
  margin-right: 100px;
  margin-left: 100px;
}

.container-contact{
  grid-row: 2/3;
  margin-right: 100px;
  margin-left: 100px;
}

.navbar{
  grid-row: 1/2;
  background-color: var(--bluecol);
  color: white;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  display: grid;
  grid-template-columns: 5% 45% 45% 5%;
  grid-template-rows: 50px;
  margin: auto;
  z-index: 10;
  /* opacity: 0.98; */
}

.navbar a{
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 12px;
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.navbarleft{
  display: flex;
  align-items: center;
  padding-left: 15px;
  justify-content: flex-start;
  /* text-align: left; */
  grid-column: 2/3;
  padding-top: 16px;
  padding-bottom: 16px;
}

#nav-icon{
width:40px;
height:40px;
}

.nav-name{
  padding-left: 5px;
}

.navbarright{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-column: 3/4;
}

.navbar a:hover{
  background: #ddd;
  color: black;
}

.navbarright .menu-icon{
  display: none;
  padding-top: 6px;
  padding-bottom: 6px;
}

.titlecard{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/index_title_background1.jpg");
  /* background-image: url("../images/IMG_20181005_165851136_HDR.jpg"); */
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  background-color: gray;
  /* border-bottom: 5px solid var(--bluecol); */
  grid-row: 2/3;
  z-index: 1;
  box-shadow: 5px 6px 8px #888;
}

.card-text{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}

.titlename{
  color: white;
  font-size: 40px;
  /* padding-top: 150px; */
  z-index: 2;
  font-weight: bold;
}

.namesubtext{
  color: var(--textwhite);
  /* text-align: center; */
  font-weight: bold;
  font-size: 18px;
  padding-top: 10px;
}

.project-content{
  grid-row: 2/3;
  margin-right: 100px;
  margin-left: 100px;
}

.resume-content{
  display: grid;
  grid-template-columns: 70% 1fr;
  margin-top: 10px;
  margin-bottom: 25px;
}


.about-content{
  /* display: grid;
  grid-template-columns: 400px 1fr; */
  margin-right: 40px;
  margin-left: 40px;
}

.about-text{
}

#image-me{
  height:250px;
  min-width:250px;
  float:left;
  margin-right:30px;
  border-radius:50%;
  box-shadow: 5px 6px 8px #888;
}

.experience-education{
  grid-column: 1/2;
  display:grid;
  /* grid-template-rows: 0.5fr 0.5fr; */
}

.skills{
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  border-left: 2px solid #394463;
  /* margin-top: 50px; */
  margin-left: 30px;
  padding-left: 20px;
  text-align: center;
}

.skill-categories{
margin-left: 20px;
}

.resume-entry{
  margin-left: 20px;
  margin-bottom: 25px;
}

.resume-entry img{
  width: 85px;
  height: 85px;
  margin-right: 10px;
  float: left;
}

.resume-employ-dates{
  /* display:flex;
  justify-content: space-between; */
  margin-bottom: 5px;
}

/* .resume-content h3{
  margin-top: 0px;
} */


.resume-text{
  font-size: 16px;
  margin-bottom: 5px;
}

.separatorbar{
  height: 3px;
  background-color: #bab8b8;
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 2px;
}

.separatorbar-title{
  height: 4px;
  background-color: #bab8b8;
  margin-top: 15px;
  border-radius: 4px;
}


.project-content .separatorbar-title{
  margin-bottom: 0px;
}

.project-content h3{
  margin-top: 0px;
  margin-bottom: 25px;
  font-size: 24px;
  border-bottom: 2px solid var(--bluecol);
  color: #070095;
}

.project-content h4{
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 20px;
}

.project-content h5{
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: normal;
}

#education-volunteer-section{
  margin-top: -5px;
}

.project-content .skills ul{
  margin-bottom: 5px;
}

.project-content ul{
margin-top: 0px;
margin-bottom: 0px;
}

.project-content img{
  box-shadow: 5px 6px 8px #888;
}

.container-resume img{
  /* box-shadow: 5px 6px 8px #888; */
}

.resume-entry ul{
  margin-top: 20px;
}

.project-head{
  color: var(--bluecol);
  /* padding-left: 50px; */
  margin-right: 50px;
  margin-left: 50px;
  padding-top: 15px;
  font-size: 30px;
  font-weight: bold;
  /* border-bottom: 2px solid black; */
}

.title{
    color: var(--bluecol);
    /* padding-left: 50px; */
    padding-top: 15px;
    font-size: 30px;
    font-weight: bold;
    /* border-bottom: 2px solid black; */
}

.fullsize-link{
  text-align: right;
}

.fullsize-link a{
  text-align: right;
  font-size: 12px;
  text-decoration: none;
}

.fullsize-link a:hover{
  color: gray;
}
.project-container{
  grid-row: 3/4;
  /* background-color: var(--projbackcol); */
}

.dashboardsMaps{
  margin-bottom: 5px;
  margin-top: 10px;
}

.resume-content img{
  box-shadow: none;
}

/* https://stackoverflow.com/questions/49514794/centering-grid-items-in-an-auto-fill-container */
.project-grid{
  display: grid;
  /* height: 100%; */
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 25px;
  /* grid-template-columns: repeat(auto-fit, minmax(450px, 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(250px, 575px));
  /* grid-template-columns: repeat(auto-fill, minmax(450px, 600px)); */
  /* grid-template-columns: repeat(auto-fill, minmax(250px, 580px)); */
  grid-gap: 30px;
  justify-content: center;
  /* justify-content: space-around; */
}

.grid-item{
  border: 2px solid var(--bluecol);
  border-radius: 20px;
  color: var(--fontcol);
  font-size: 16px;
  padding: 15px;
  box-shadow: 5px 6px 8px #888;
}


.popupbuttontext{
  /* text-align: right; */
  grid-row: 1/1;
  grid-column: 2/3;
  font-size: 14px;
  font-weight: bold;
  padding-left: 0.8rem;
  padding-top:0.8rem;
  padding-bottom:0.8rem;
  padding-right:1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.titletext{
  color:#000;
  float:left;
  font-weight: bold;
  grid-row: 1/1;
  grid-column: 1/1;
  font-size: 18px;
  padding-left: 0.8rem;
  padding-top:0.8rem;
  padding-bottom:0.8rem;
}


.headerbtn{
  border: none;
  font-size: 18px;
  background-color: var(--titlebackground);
  padding: none;
  cursor: pointer;
}

.headerbtn:hover,
.headerbtn:focus{
  color: #1d27ff;
}

.divlink{
  text-decoration: none;
  color: var(--fontcol);
}

.proj-img{
  /*  */
}
/* https://stackoverflow.com/questions/5061940/changing-the-child-elements-css-when-the-parent-is-hovered */
.grid-item:hover .proj-img{
  opacity: 0.8;
  /* box-shadow: 0px 0px 12px 4px #394463; */
}


#goto-proj{
  margin-top: -50px;
  padding-bottom: 50px;
  height: 0px;
  display: block;
}

.grid-item:hover{
    text-decoration: underline;
}

.footer{
  grid-row: 3/4;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  background-color: #5a789c;
  border-top: 2px #2e2e2e solid;
  margin-top: 20px;
  /* position: absolute;
  bottom: 0; */
  width: 100%;
}

.contact-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 94%;
}

#contact-image-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:100%;
}

.contact-content p{
  margin-top: 10px;
  margin-bottom: 0px;
}

.footer p{
  margin-bottom: 2px;
  text-align: center;
  font-size: 12px;
  font-family: Helvetica;
}

.social-media{
  display: flex;
  flex-direction: row;
}

/* .fab {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
} */

.social-icon{
  font-size: 30px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.fab{
  color: black;
  text-decoration: none;
  border-radius: 25%;
  padding: 5px;
  background: white;
}

.fa-facebook{
  background: white;
  color: #4267B2;
}

.fa-github{
  color: #171516;
}

.fa-linkedin{
  color: #2867b2;
}

.fab:hover{
  opacity: 0.8;
}

.centered-imgs{
  display:flex;
  justify-content:center;
  align-self: center;
  align-items: center
}

.centered-imgs img{
  margin-left:8px;
  margin-right:8px;
}


.hljs {
border-radius: 10px;
box-shadow: 5px 10px 8px #888888;
}

.about-text h3{
  margin-left: 55px;
}

.skill-div{
  display:flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: center;
  /* border-top: 2px solid gray; */
}

.skill-div img{
  min-height: 85px;
  min-width: 85px;
  max-height: 85px;
  max-width: 85px;
}


.skills h4{
    margin-top: 0px;
    margin-bottom: 0px;
}

.resume-download h4:hover{
  color: gray;
}

/* .skill-icon-text span{
  font-weight: bold;
} */

#contact-image{
  box-shadow: 5px 6px 8px #888;
  /* height: 500px; */
  border: 2px solid gray;
  border-radius: 5%;
  /* margin-top: 40px; */
  max-width: 750px;
  width:100%;
  height:auto;
  margin-bottom: 10px;
}

.skill-icon-text{
  display:flex;
  flex-direction: column;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
  /* Media queries for responsive behavior */
  /* When screen is small, hide navbar links and show menu icon */

  @media screen and (max-width: 1200px) {
    .centered-imgs{
      flex-direction: column;
      /* min-width: 60%;
      max-width: 60%; */
    }
    .centered-imgs img{
      margin-top: 10px;
      /* width: 80%; */
    }
  }


  @media screen and (max-width: 900px) {
    .navbarright a:not(.blank) {
      display: none;
    }
    .navbarright a.menu-icon{
      display: block;
    }
    .resume-content{
      display: block;
    }
    .resume-content .skills{
      margin-left: 0px;
      padding-left: 0px;
      border-left: 0;
    }
  }

  @media screen and (max-width: 600px) {
    .project-content{
      margin-right: 25px;
      margin-left: 25px;
    }
  }


  @media screen and (max-width: 700px) {
    #image-me{
      float: none;
    }
    .container-about{
      margin-right: 25px;
      margin-left: 25px;
    }
    .container-contact{
      margin-right: 25px;
      margin-left: 25px;
    }
    .about-content{
      margin-right: 15px;
      margin-left: 15px;
    }
  }


  @media screen and (max-width: 430px) {
    .namesubtext{
      font-size: 16px;
    }
    .card-text{
      padding: 10px;
    }
  }
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small
  screens (display the links vertically instead of horizontally) */

  @media screen and (max-width: 900px) {
    .navbarright.responsive {
      position: fixed;
      flex-direction: column;
      background-color: #4c5161;
      margin-top: 50px;
      width: 100%;
    }
    .navbarright.responsive a.menu-icon {
      position: fixed;
      top:0;
      right: 5%;
    }
    .navbarright.responsive a {
      float: none;
      display: block;
      text-align: center;
      /* padding-left: 50%;
      padding-right: 50% */
    }
    .navbarright.responsive a.menu-option {
      padding-left: 50%;
      padding-right: 50%
    }
  }
