:root{
  /* --backgroundwhite: #fcfcfc; */
  /* --titlebackground: #f7f7f7; */
  --titlebackground: #dbdbdb;
}
body {
  /* background-color:var(--backgroundwhite:); */
  background-color:var(--titlebackground);
  height: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
}

html{
  height: 100%;
}

.container {
  display: grid;
  width:100%;
  height:100%;
  /* grid-template-columns: 0.7fr 0.3fr; */
  /* grid-template-columns: 0.7fr 0.3fr; */
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr;
  grid-gap: 10px;
}

.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}

.name-border{
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000;
}

#map{
    position: relative;
    top: 0px;
    left: 0px;
    /* width: 100%;
    height: 100%; */
    z-index: 1;
}

/* #strava-display-container {
  grid-row: 2/4;
  grid-column: 1/1;
  display: grid;
  grid-template-columns: 0.7fr 0.3fr;
  grid-gap: 0.4rem;
} */

.leaflet-popup-content{
  font-size: 14px;
}

.detail-panel-col{
  background-color: var(--titlebackground);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.detail-context{
  color:black;
  padding-bottom: 10px;
  padding-top: 10px;
}

.detail-units{
  color:black;
  padding-top: 10px;
}

.teal-text{
  color:#20ebf5;
  font-size: 1.5rem;
}

.detail-text{
  color:red;
  padding-bottom: 10px;
  padding-top: 10px;
  /* text-shadow: 1px 1px 4px #5ac73e; */
}
.detail-text-important{
  color:#FF073A;
  /* text-shadow: 1px 1px 4px #5ac73e; */
}
.item {
  /*background-color: #719ef0;*/
  box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
  color: #fff; /*Text color */
  border-radius: 3px;
  border: 2px solid #171717;
}

.dashboard-content{
  grid-column: 1/3;
  grid-row: 2/3;
  display: grid;
  /* grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(8,1fr); */
  grid-template-columns: repeat(13,1fr);
  grid-template-rows: repeat(5,1fr);
  /* grid-template-rows: repeat(5,minmax(0, 1fr)); */
  grid-gap: 8px;
}

.map-panel{
   grid-row: 1/6;
   grid-column: 1/10;
}

.actChart {
  position:relative;
  height: 99%;
  width: 100%;
  /* height: 34vh;
  width: 30vw; */
  grid-column: 10/14;
  grid-row: 4/6;
}

#count-div{
  grid-column: 10/12;
  grid-row: 1/2;
}

#dist-div{
  grid-column: 12/14;
  grid-row: 1/2;
}
#elev-div{
  grid-column: 10/12;
  grid-row: 2/3;
}
#calories-div{
  grid-column: 12/14;
  grid-row: 2/3;
}
#moving-div{
  grid-column: 10/12;
  grid-row: 3/4;
}
#avg-div{
  grid-column: 12/14;
  grid-row: 3/4;
}
.detail-panel{
  /* display: grid; */
  /* width:100%; */
  /* height:100%; */
  /* grid-template-columns: repeat(2,1fr); */

  /* grid-template-rows: repeat(4,1fr); */
  /* grid-gap: 0.5rem; */
  /* border: 0; */
  /* border-radius: 0; */
  /* grid-template-rows: repeat(3,1fr); */
  /* grid-column: 2/3;
  grid-row: 2/4; */
}

.titlediv{
  align-items: center;
  /* background-color: #f7f7f7; */
  background-color: #dbdbdb;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 1/1;
  grid-column: 1/3;

}

.popupbuttontext{
  grid-row: 1/3;
  grid-column: 3/4;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.titletext{
  color:#000;
  float:left;
  font-weight: bold;
  grid-row: 1/3;
  grid-column: 1/1;
  font-size: 22px;
  padding-left: 1rem;
  justify-content: flex-start;
  margin-top: auto;
  margin-bottom: auto;
}

/* .map-panel{
 grid-row: 2/4;
 grid-column: 1/2;
} */



.detail-1{
  grid-row: 1/1;
  grid-column: 1/1;
}

.detail-2{
  display: grid;

}

.icon-activity{
  width: 5vw;
  height: 5vw;
}

.icon-battery{
  width: 7vw;
  height: 7vw;
}


.leaflet-control-layers{
/*
  background: #2b3940;
  color: #20ebf5;
  */
  text-align: left;
  align-items: left;
  justify-content: left;

}
/*
.leaflet-bar a:hover{
  background-color: #2b3940;
  border-bottom: #282a2b;
}
*/
.text-icon-panel{
  display: grid;
  width:100%;
  height:100%;
  grid-template-columns: auto;
  grid-template-rows: 60% 0%;
  grid-gap: 0.5rem;
  /* border: 0; */
  /* border-radius: 0; */
}

.div-span-margin{
  margin-top: 10%;
  margin-bottom: 10%;
}

.div-span-nomargin{
  margin-top: 0%;
  margin-bottom: 0%;
}

.infolegend{
  width: 140px;
  height: 200px;
  /* line-height: 20px; */
  /* opacity: 0.8; */
  background-color: #FFF;
  border: 2px solid black;
  text-align: left;
}

.legendicon{
  height: 50px;
  width: 50px;
  margin-left: 8px;
  margin-right: 10px;
  margin-top: 4px;
  display: inline-block;
  vertical-align: middle;
  /*
  position: relative;
  top: 12px;
  left: 10px;
  */
}

.legendtext{
  color: #303030;
  font-size: 18px;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
}

.legendheader{
  color: #303030;
  font-size: 18px;
  text-align: center;
}

.spanbotbord{
  border-bottom:#7b9798 solid 2px;
}



/* Modal CSS from https://www.w3schools.com/howto/howto_css_modals.asp */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  /* border-radius: 30px;
  border: 2px solid #888; */
}

/* Modal Content */
.modal-content-container {
  background-color: var(--titlebackground);
  color: #161616;
  /* display: grid; */
  /* grid-template-rows: 32px 1fr; */
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border: 2px solid #000;
  border-radius: 20px;
  /* width: 60%; */
  font-size: 16px;
  overflow-y: auto;
  max-height: 80%;
  max-width: 80%;

  /* box-sizing: border-box; */
}

/* The Close Button */
.close {
  /* grid-row: 1/1; */
  color: #aaaaaa;
  font-size: 32px;
  font-weight: bold;
  margin-top: -10px;
  /* text-align: right; */
  /* position: sticky; */
  /* position: -webkit-sticky; */
  position: fixed;
  right: 10%;
  transform: translateX(40%);
  /* background-color: var(--titlebackground); */
  /* opacity: 95%; */
}

.modal-text{
  /* grid-row: 2/2; */
  margin-top: 10px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.headerbtn{
  border: none;
  font-size: 20px;
  background-color: var(--titlebackground);
  padding: 0;
  cursor: pointer;
}


.filter-btn-group{
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  /* padding-bottom: 5px; */
  grid-column: 2/3;
  margin-left: auto;
  margin-right: auto;
}

.filterbtn{
  padding: 5px 24px;
  border-radius: 5%;
  margin-left: 3px;
  margin-right: 3px;
  color: White;
  border: 2px solid black;
  opacity: 30%;
  font-weight: bold;
  font-size: 14px;
}

#All{
  background-color: #3d3d3d;
}

#MTB{
  background-color: #e41a1c;
}

#Road{
  background-color: #377eb8;
}

#Run{
  background-color: #a65628;
}

#Walk{
  background-color: #984ea3;
}

#reportrange {
  background:var(--titlebackground);
  cursor: pointer;
  /* padding: 5px 10px; */
  /* border: 1px solid #ccc; */
  /* width: 100%; */
  color:black;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  /* margin-bottom: 5px; */
  grid-column:  2/3;
}

.active-btn{
  opacity: 90%
}

.map-home{
  color:#000;
  /* font-size: 20px; */
  margin-right: 10px;
}

.home-link{
  color:inherit;
  text-decoration: none;
  font-size: 20px;
}
.home-link:hover{
  color: #1d27ff;
}


.no-data{
  display: none;
}

.show-data {
  display:flex;
  /* width: 100%; */
}

.calendarSelect{
  text-align: center;
}

#reset{
  margin: auto;
  margin-bottom: 3px;
}

/* See  https://medium.com/@mezoistvan/finally-a-css-only-solution-to-hover-on-touchscreens-c498af39c31c and https://hover-pointer-media-query.glitch.me/
This targets only fine pointers (mouse) for hover behavior, this prevents the hover status from sticking on touchscreens
*/
@media(any-pointer: fine) {
  .filterbtn:hover{
    background-color: #383838;
    opacity: 90%;
  }
  .headerbtn:hover,
  .headerbtn:focus{
    color: #1d27ff;
  }
}


/* .filterbtn:hover{
  background-color: #383838;
  opacity: 90%;
}


.headerbtn:hover,
.headerbtn:focus{
  color: #1d27ff;
} */

/* @media screen and (max-width: 1200px) {
  .map-panel{
    grid-row: 1/4;
  }
  .actChart{
    grid-column: 1/14;
  }
} */

@media screen and (max-width: 700px) {
  .titletext{
    font-size: 14px;
  }
  .popupbuttontext{
    font-size: 14px;
    flex-direction: column;
  }
  .headerbtn{
    font-size: 14px;
  }
  .home-link{
    font-size: 14px;
  }
  .filterbtn{
    padding: 3px 3px;
    margin-right: 2px;
    margin-left: 2px;
    font-size: 12px;
  }
  .container,.dashboard-content{
    grid-gap: 5px;
  }
  .map-home{
    margin-right: 0px;
    padding-bottom: 16px;
  }
  #reportrange{
    text-align: center;
  }
  .detail-panel-col{
    font-size: 0.8em;
  }
}
@media screen and (max-width: 500px) {
  #reportrange{
    font-size: 14px;
  }
  .dashboard-content{
    grid-template-rows: auto;
  }
  .detail-text{
    padding-top: 5px;
  }
  .detail-context{
    padding-bottom: 5px;
  }
  .map-panel{
    grid-column: 1/8;
    grid-row: 1/4;
  }
  .actChart{
    grid-column: 1/14;
  }
  #count-div{
    grid-column: 8/11;
    grid-row: 1/2;
  }

  #dist-div{
    grid-column: 11/14;
    grid-row: 1/2;
  }
  #elev-div{
    grid-column: 8/11;
    grid-row: 2/3;
  }
  #calories-div{
    grid-column: 11/14;
    grid-row: 2/3;
  }
  #moving-div{
    grid-column: 8/11;
    grid-row: 3/4;
  }
  #avg-div{
    grid-column: 11/14;
    grid-row: 3/4;
  }
}

@media screen and (max-width: 420px) {
  .titletext{
    grid-row: 2/3;
    text-align: center;
    float: none;
    padding: none;
  }
  .filter-btn-group{
    grid-column: 1/4;
    grid-row: 1/1;
  }
  .popupbuttontext{
    grid-row: 2/3;
  }
}
