<!DOCTYPE html>
<html>
<head>
	<title>Contact Me</title>
	{% include 'mainImports.html' %}
</head>
<body>
  <div class="container-resume sansserif">
		{% include 'navBar.html' %}
		<div class="container-contact">
			<div class="title">Contact Me</div>
			<div class="separatorbar-title"></div>
			<div class="contact-content">
				<p>
					If you have any questions or suggestions feel free to email me at <span id="emailaddrcontact"></span>.
				</p>
				<p>
					You can also find me on	<a href=https://www.facebook.com/gavin.leavitt.7>Facebook</a> and <a href=https://www.linkedin.com/in/gavin-leavitt-326973165/>LinkedIn</a>. Feel free to visit my <a href=https://www.github.com/gavleavitt>Github Repos</a> as well for this website and other projects.
				</p>
				<div id="contact-image-div">
					<img id="contact-image" src="{{ url_for('mainSite_BP.static', filename='contactme/icons_images/trail1_shrunk_comp.jpg') }}">
				</div>
			</div>
		</div>
		{% include 'footer.html' %}
	</div>
</body>
</html>
