<!DOCTYPE html>
<html>
<head>
	<title>Sanitary Sewer and Storm System GIS Buildout</title>
	{% include 'mainImports.html' %}
</head>
<body>
  <div class="container-projects sansserif">
		{% include 'navBar.html' %}
		<div class="project-content">
			<div class="title">Sanitary Sewer and Storm System GIS Buildout</div>
			<div class="separatorbar-title"></div>
			<img src="{{ url_for('projectPages_BP.static', filename='project-Sanitary-Sewer-Storm-Drain-Builtout/icons_images/MS4_Downsized_comp.png') }}" style="margin-top:10px;">
			<div class="separatorbar-title"></div>
			<h2>
				Description
			</h2>
			<p>
				With the City of Salinas I undertook two projects to build out the City's sanitary sewer and storm drain (MS4) GIS datasets to near complete coverage so they could be used in asset management, field planning, and as underlining data for GIS applications. The sanitary sewer system was already well mapped, but was missing some sections and contained scattered errors; the storm system on the other hand was poorly mapped, contained only large mains, contained poor topology, and was highly spatially inaccurate. While the sanitary sewer system only needed spot edits and corrections, the storm drain system necessitated a complete rebuild in GIS used historic plans as reference. This long and time-consuming process required me to use the City’s physical record index and storage system to hunt down and interrupt relevant engineering and development plans.
			</p>
			<p>
				Here is a higher resolution zoom in on the storm drain system, with inlets hidden as well:
			</p>
			<div style="display:Flex;justify-content:center;">
				<a href="{{ url_for('projectPages_BP.static', filename='project-Sanitary-Sewer-Storm-Drain-Builtout/icons_images/SD_ex1_comp.png') }}" target="_blank"><img src="{{ url_for('projectPages_BP.static', filename='project-Sanitary-Sewer-Storm-Drain-Builtout/icons_images/SD_ex1_comp.png') }}" style="margin-top:10px;"></a>
			</div>
		</div>
		{% include 'footer.html' %}
		</div>
	</div>
</body>
</html>
