<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About Me</title>
		{% assets "home_js" %}
				<script type="text/javascript" src="{{ ASSET_URL }}"></script>
		{% endassets %}
		{% assets "home_css" %}
				<link rel="stylesheet" href="{{ ASSET_URL }}" />
		{% endassets %}
	<!--jquery adds "$." functionality-->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->

	<!-- Custom local javascript functions -->
	<!-- <script src="{{ url_for('static', filename='js/mainFunctions.js') }}"></script> -->
	<!-- Custom CSS -->
	<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/customCSS_main.css') }}"> -->
	<!-- Set favicon -->

	<!-- Favicon links -->
	<link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
	<link rel="manifest" href="/static/images//site.webmanifest">
	<link rel="mask-icon" href="/static/images//safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

	<!-- Font Awesome Social media icons -->
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/brands.min.css"> -->

	<!-- Font Awesome Kit -->
	<script src="https://kit.fontawesome.com/fd8b0845f1.js" crossorigin="anonymous"></script>

	<!-- Highlight.js -->
	<link rel="stylesheet"
	      href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.0/build/styles/default.min.css">
	<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.0/build/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>

</head>
<body>
  <div class="container-resume sansserif">
		<div class = "navbar">
      <div class ="navbarleft">
				<a href = "/">
					<div class="icon-home-link">
						<img id="nav-icon" src = "/static/images/wheel_custom.png">
						<div class="nav-name">Gavin Leavitt</div>
					</div>
				</a>
			</div>
			<div id="interactiveBarRight" class="navbarright">
				<a class= "menu-option"  href="{{ url_for('mainSite_BP.index') }}">Home</a>
				<a class= "menu-option" href = "/#goto-proj">Projects</a>
        <a class= "menu-option" href="{{ url_for('mainSite_BP.about') }}">About</a>
        <a class= "menu-option" href="{{ url_for('mainSite_BP.resume') }}">Resume</a>
        <a class= "menu-option" href = "{{ url_for('mainSite_BP.contact') }}">Contact</a>
				<a href = "javascript:void(0);" class="menu-icon" onclick="navBarFunction()" onmouseover="menuHover();" onmouseout="menuUnhover();">
						<img id="menu-icon-img" src="/static/images/menu-icon-gray.svg" style="width:35px;height:35px">
				</a>
			</div>
		</div>
		<div class="container-about" style="grid-row:2/3">
			<div class="title">About Me</div>
			<div class="separatorbar-title"></div>
			<div class="about-content">
				<div class="about-text">
					<h3>Gavin Leavitt</h3>
					<img id="image-me" src="{{ url_for('mainSite_BP.static', filename='aboutme/icons_images/imgme1_comp.png') }}">
					<p>
					<!-- <img id="image-me" src="static/images/imgme1.png" style="height:250px;min-width:250px;float:left;margin-right:30px;border-radius:50%;"> -->
					I am an environmental scientist with a strong interest in working to expand our understanding of human impacts on the natural environment. My goal is to mitigate these impacts and conserve natural resources by providing
					policy-makers with information that is based on rigorous science that incorporates all available data, technologies, and stakeholders. I see spatial data, analytics, and visualizations as critical tools to this process. I
					have spent my education and professional careers working to expand my knowledge of environmental policy, ecological data collection, and the application of these tools. While working with these technologies and
					techniques can be difficult, especially for those of us without computer science backgrounds, I appreciate the powerful utility they provide and enjoy the challenge.
					</p>
					<p>
						My professional interests include terrestrial and marine science, remote sensing, ecosystem and habitat modeling, climate science, live tracking of assets and animals, species protection, natural resource multi-use policies, and environmental conservation.
					</p>
					<p>
						With the City of Salinas, I worked to expand the City’s geographic information system (GIS) capabilities. Significant projects include digitizing the City’s Sanitary Sewer and Municipal Separate Storm Sewer System (MS4) into GIS using historic engineering and development plans.
						I also built a <a href=/projects/sanitarysewertraceapp>Web Map Application</a> that enables city staff to estimate the size of sewer spills and affected homes using the location of the sewer main break. This tool allows the City to meet rapid reporting requirements while providing a repeatable, defensible, and data-driven estimate.
					</p>
					<p>
						Recently I have begun exploring open source web development, mapping, and database management as tools to collect and display spatial data. These projects, along with select projects I did with the City of Salinas, can be found in my <a href=/#goto-proj>Projects section</a>.
					</p>
					<p>
						In my free time I enjoy mountain biking and road cycling. I hope to see you out on the single-track!
					</p>
				</div>
			</div>
		</div>
		<div class="footer" style="grid-row:3/4">
			<p>© <span id="year">2020</span> Gavin Leavitt | Contact: <span id="emailaddr"></span>
			<br>Images, maps, and webpages created by Gavin Leavitt unless otherwise noted.
			<br>Icons made by <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a>,  <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and modified by Gavin Leavitt.
			</p>
			<div class="social-media">
				<div class="social-icon">
					<a href="https://www.github.com/gavleavitt" target="_blank" rel="external" class="fab fa-github">
					</a>
				</div>
				<div class="social-icon">
					<a href="https://www.facebook.com/gavin.leavitt.7/" target="_blank" rel="external" class="fab fa-facebook">
					</a>
				</div>
				<div class="social-icon">
					<a href="https://www.linkedin.com/in/gavin-leavitt-326973165/" target="_blank" rel="external" class="fab fa-linkedin">
					</a>
				</div>
			</div>
		</div>
	</div>
	<script>
	document.getElementById("year").innerHTML = new Date().getFullYear()
	var email = "gav" + "lea" + "web" + "@g" + "mail" + ".com";
	document.getElementById("emailaddr").innerHTML = "<a href='mailto:" + email + "'>" + email + "</a>"
	window.onscroll = function(){closeMenu()};
	</script>
