:root {
  --calcite-panel-max-height: 400px;
  --calcite-panel-max-width: 300px;
  --titlebackground: #dbdbdb;
}
calcite-pick-list-item{
  white-space: pre-line;
}

* {
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.container{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

body{
  background-color:var(--titlebackground);
}

#viewDiv{
  height: 100%;
  padding: 0;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  margin: 6px;
  margin-top: 3px;
}

.loader__text{
  font-weight: bold;
}

.Download{
  justify-content: center;
  background-color: #FFFFFF;
  padding: 5px;
}

#InletsWindow{
  overflow: auto;
}

#InletsWindow calcite-icon{
  color: #1400ff;
}

#TraceToolTitle .header{
  font-size: 30px;
}

#MH-Window calcite-icon{
  color: #b6c702;
}

#GM-Window calcite-icon{
  color: #ed5151;
}

#Lat-Window calcite-icon{
  color: #02c718;
}

#vScale {
  padding: 10px;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

.button-grp{
  /* display: flex; */
  /* flex-flow: row wrap; */
  justify-content: center;
}
.flex-line2{
  width: 100%
}
#parcel-label{
  display: none;
  margin-top: 15px;
}
/* #parcel-btn > div{
  display: flex;
  margin-left: 15px;
} */
.tool-btn{
  padding:5px;
  height:50px;
}
.btn-subgrp{
  display:flex;
}
#block-Btn{
  --calcite-ui-brand: #e07f00;
  --calcite-ui-foreground-1: #e07f00;
  --calcite-ui-brand-hover: #ac6304;
  --calcite-ui-brand-press: #ac6304;
}
.line-break {
  width: 100%;
}
#query-text{
  display: none;
}
#results-grp{
  display: none;
}

calcite-block{
  margin-bottom: 0px;
}

.esri-component.esri-locate.esri-widget--button.esri-widget{
  position: absolute;
  right: 50px;
  top: 15px;
}

.esri-component.esri-zoom.esri-widget{
  position: absolute;
  bottom: 65px;
  right: 10px;
}


@media screen and (max-width: 700px) {
  html *{
    font-size: 10px !important;
    --calcite-font-size--2: 10px !important;
    --calcite-font-size--1: 10px !important;
    --calcite-font-size-0: 10px !important;
  }
  .esri-component.esri-locate.esri-widget--button.esri-widget{
    position: absolute;
    right: 156px;
    top: 3px;
  }
  .tool-btn{
    padding: 2px;
  }
  #viewDiv{
    margin: 2px;
  }
  #traceDiv{
    width:210px !important;
  }
  .button-grp{
    margin-right: -6px;
    margin-left: -6px;
  }
  .esri-ui-top-right{
    right: -12px !important;
    top: -12px !important;
  }
  .esri-ui-top-left{
    left: -12px !important;
    top: -20px !important;
  }
  .esri-component.esri-layer-list.esri-widget.esri-widget--panel{
    width: auto !important;
  }
  .esri-component.esri-search.esri-widget{
    width: 145px;
  }
  /* :root{
    --calcite-font-size--1: 8px;
  } */
  .item.titlediv{
    display: none;
  }
  .esri-attribution__sources, .esri-attribution, #vScale, .esri-zoom, .esri-component.esri-expand.esri-widget.esri-expand--auto{
    display: none;
  }
  #TraceToolTitle .article .content{
    font-size: 10px !important;
    padding-left: 5px !important;
    padding-right: 1px !important;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
  }
}
