:root {
  --calcite-panel-max-height: 400px;
  --calcite-panel-max-width: 300px
}

html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.loader__text{
  font-weight: bold;
}

.Download{
  justify-content: center;
  background-color: #FFFFFF;
  padding: 5px;
}

#InletsWindow{
  overflow: auto;
}

#InletsWindow calcite-icon{
  color: #1400ff;
}

#TraceToolTitle .header{
  font-size: 30px;
}

#MH-Window calcite-icon{
  color: #b6c702;
}

#GM-Window calcite-icon{
  color: #ed5151;
}

#Lat-Window calcite-icon{
  color: #02c718;
}


#vScale {
  padding: 10px;
}

.button-grp{
  /* display: flex; */
  /* flex-flow: row wrap; */
  justify-content: center;
}
.flex-line2{
  width: 100%
}
#parcel-label{
  display: none;
  margin-top: 15px;
}
/* #parcel-btn > div{
  display: flex;
  margin-left: 15px;
} */
.tool-btn{
  padding:5px;
  height:50px;
}
.btn-subgrp{
  display:flex;
}
#block-Btn{
  --calcite-ui-brand: #e07f00;
  --calcite-ui-foreground-1: #e07f00;
  --calcite-ui-brand-hover: #ac6304;
  --calcite-ui-brand-press: #ac6304;
}
.line-break {
  width: 100%;
}
#query-text{
  display: none;
}
#results-grp{
  display: none;
}

calcite-block{
  margin-bottom: 0px;
}
