<div class="footer" style="grid-row:3/4">
  <p>© <span id="year">2022</span> Gavin Leavitt | Contact: <span id="emailaddr"></span>
  <br>Images, maps, and webpages created by Gavin Leavitt unless otherwise noted.
  <br>Icons made by <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a>,  <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and modified by Gavin Leavitt.
  </p>
  <div class="social-media">
    <div class="social-icon">
      <a href="https://www.github.com/gavleavitt" target="_blank" rel="external" class="fab fa-github">
      </a>
    </div>
    <div class="social-icon">
      <a href="https://www.facebook.com/gavin.leavitt.7/" target="_blank" rel="external" class="fab fa-facebook">
      </a>
    </div>
    <div class="social-icon">
      <a href="https://www.linkedin.com/in/gavin-leavitt-326973165/" target="_blank" rel="external" class="fab fa-linkedin">
      </a>
    </div>
  </div>
</div>
<!-- <script>
// Set footer contact email using JS, makes it a little harder for bots to grab the email for spamming
var email = "gav" + "lea" + "web" + "@g" + "mail" + ".com";
document.getElementById("emailaddr").innerHTML = "<a href='mailto:" + email + "'>" + email + "</a>"
// Deal with contact page having two email addr locations, consider making a form with wTForms to handle contact me
if (document.getElementById("emailaddrcontact")){
  document.getElementById("emailaddrcontact").innerHTML = "<a href='mailto:" + email + "'>" + email + "</a>"
}
// Get current year for copyright date, currently not used
document.getElementById("year").innerHTML = new Date().getFullYear()
// Set function
window.onscroll = function(){closeMenu()};
window.onload = function (){
  if (document.getElementById("iframe1")){
    document.getElementById("iframe1").contentWindow.document.getElementsByClassName("home-link")[0].remove();
  }
};
</script> -->
