<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Operations Dashboards and Maps</title>

	<!--jquery adds "$." functionality-->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->

	<!-- Custom local javascript functions -->
	<script src="{{ url_for('static', filename='js/customfunctions.js') }}"></script>
	<!-- Custom CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/customCSS_main.css') }}">
	<!-- Set favicon -->

	<!-- Favicon links -->
	<link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
	<link rel="manifest" href="/static/images//site.webmanifest">
	<link rel="mask-icon" href="/static/images//safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

<!-- Font Awesome Social media icons -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/brands.min.css"> -->

<!-- Font Awesome Kit -->
<script src="https://kit.fontawesome.com/fd8b0845f1.js" crossorigin="anonymous"></script>

<!-- Highlight.js -->
<link rel="stylesheet"
      href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.0/build/styles/default.min.css">
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.0/build/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</head>
<body>
  <div class="container-projects sansserif">
		<div class = "navbar">
      <div class ="navbarleft">
				<img id="nav-icon" src = "/static/images/wheel_custom.png">
				<div class="nav-name">Gavin Leavitt</div>
			</div>
      <div id="interactiveBarRight" class="navbarright">
        <a class= "menu-option" href = "/">Home</a>
				<a class= "menu-option" href = "/#goto-proj">Projects</a>
        <a class= "menu-option" href = "/about">About</a>
        <a class= "menu-option" href = "/resume">Resume</a>
        <a class= "menu-option" href = "/contact">Contact</a>
				<a href = "javascript:void(0);" class="menu-icon" onclick="navBarFunction()" onmouseover="menuHover();" onmouseout="menuUnhover();">
						<img id="menu-icon-img" src="/static/images/menu-icon-gray.svg" style="width:35px;height:35px">
				</a>
			</div>
		</div>
		<div class="project-content">
			<div class="title">Various Operations Dashboards and Maps</div>
			<div class="separatorbar-title"></div>
			<h2 class="dashboardsMaps">
				Capital Improvement Projects (CIP) Dashboard
			</h2>
			<a href="../static/images/CIP_Dashboard_Example_comp.png" target="_blank"><img src="../static/images/CIP_Dashboard_Example_comp.png" style="margin-top:10px;"></a>
			<p>
				This dashboard shows capital improvement projects within Salinas, providing users with project details and the ability to filter projects based on a variety of parameters.
			</p>
			<div class="separatorbar-title"></div>
			<h2 class="dashboardsMaps">
				Salinas Marginally Housed Response Team (MHRT) Dashboard
			</h2>
			<a href="../static/images/MHRT_example_comp.png" target="_blank"><img src="../static/images/MHRT_example_comp.png" style="margin-top:10px;"></a>
			<p>
				This internal dashboard was created for city staff to view the progress, sizes, and costs of homeless cleanup operations throughout the city. The dashboard pulls information generated by an internal homeless response reporting application created by another GIS team member.
			</p>
			<div class="separatorbar-title"></div>
			<h2 class="dashboardsMaps">
				Illicit Discharge Reports Dashboard
			</h2>
			<a href="../static/images/Illicit_Discharges_edited_comp.png" target="_blank"><img src="../static/images/Illicit_Discharges_edited_comp.png" style="margin-top:10px;"></a>
			<p>
				This Internal dashboard allows city management to view reports of illicit discharges into storm drains and waterbodies throughout the city. Management staffs are able to view the details of reports, overall number of reports, and any reports that are pending action. The dashboard pulls information generated by an internal illicit discharge reporting application created by another GIS team member.
			</p>
			<div class="separatorbar-title"></div>
			<h2 class="dashboardsMaps">
				Subdivision Index
			</h2>
			<a href="../static/images/Subdivison_Index_Shrunk_comp.png" target="_blank"><img src="../static/images/Subdivison_Index_Shrunk_comp.png" style="margin-top:10px;"></a>
			<p>
				This map allows city staff to quickly lookup the subdivision index number of subdivisions throughout the city. This index number is used to find physical records stored within the City’s vault of records. I updated the map and dataset, which were roughly 15 years out of date, by adding newly created subdivisions to the City’s GIS system. I also imported the old MXD into ArcGIS Pro, corrected a number of typos and index errors in the original dataset, created an ArcGIS Feature Service, and incorporated the newly updated dataset into other maps.
			</p>
			<div class="separatorbar-title"></div>
		</div>
		<div class="footer" style="grid-row:3/4">
			<p>© 2020 Gavin Leavitt | Contact: <span id="emailaddr"></span>
			<br>Images, maps, and webpages created by Gavin Leavitt unless otherwise noted.
			<br>Icons made by <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a>,  <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and modified by Gavin Leavitt.
			</p>
			<div class="social-media">
				<div class="social-icon">
					<a href="https://www.github.com/gavleavitt" target="_blank" rel="external" class="fab fa-github">
					</a>
				</div>
				<div class="social-icon">
					<a href="https://www.facebook.com/gavin.leavitt.7/" target="_blank" rel="external" class="fab fa-facebook">
					</a>
				</div>
				<div class="social-icon">
					<a href="https://www.linkedin.com/in/gavin-leavitt-326973165/" target="_blank" rel="external" class="fab fa-linkedin">
					</a>
				</div>
			</div>
		</div>
		</div>
	</div>
	<script>
	var email = "gav" + "lea" + "web" + "@g" + "mail" + ".com";
	document.getElementById("emailaddr").innerHTML = "<a href='mailto:" + email + "'>" + email + "</a>"
	window.onscroll = function(){closeMenu()};
	</script>
