<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Leaflet Map</title>
	<!-- CDN files-->
	<!-- Leaflet css-->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>
	<!-- Other imports! -->
	<!-- leaflet Javascript-->
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
	<!--jquery adds "$." functionality-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Load Esri Leaflet from CDN, stable -->
	<script src="https://unpkg.com/esri-leaflet@2.4.0/dist/esri-leaflet.js"
	integrity="sha512-kq0i5Xvdq0ii3v+eRLDpa++uaYPlTuFaOYrfQ0Zdjmms/laOwIvLMAxh7cj1eTqqGG47ssAcTY4hjkWydGt6Eg=="
	crossorigin=""></script>
	<!-- Esri Leaflet and Esri Leaflet Vector, experimential -->
	<script src="https://unpkg.com/esri-leaflet/dist/esri-leaflet.js"></script>
	<script src="https://unpkg.com/esri-leaflet-vector/dist/esri-leaflet-vector.js"></script>
	<!-- Esri vector tiles relies on maxbo gl -->
	<link rel="stylesheet" href="https://unpkg.com/mapbox-gl/dist/mapbox-gl.css"/>
	<script src="https://unpkg.com/mapbox-gl/dist/mapbox-gl.js"></script>

	<!-- load the latest release from the cdn automatically -->
	<script src="https://unpkg.com/esri-leaflet-vector/dist/esri-leaflet-vector-debug.js"></script>

	<!-- Leaflet Table CSS -->
	<!-- <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" /> -->
	<!-- Leaflet Table JS -->
	<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script> -->

	<!-- Locate Control, geolocation -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.72.0/dist/L.Control.Locate.min.css" />
	<script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.72.0/dist/L.Control.Locate.min.js" charset="utf-8"></script>


	<!-- Local static files-->
	<!-- leaflet Mouset Position JS-->
	<!-- leaflet Ajax JS-->
	<script src="{{ url_for('static', filename='js/leaflet.ajax.js') }}"></script>
	<!-- leaflet Ajax JS-->
	<script src="{{ url_for('static', filename='js/leaflet.ajax.min.js') }}"></script>
	<!-- Custom local javascript functions -->
	<script src="{{ url_for('static', filename='js/customfunctions.js') }}"></script>
	<!-- Custom CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/customCSS_beaches.css') }}">
	<!-- Search CSS-->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet-search.src.css') }}">
	<!-- Search JS -->
	<script src="{{ url_for('static', filename='js/leaflet-search.src.js') }}"></script>
	<style>
	/*
		body {
				 padding: 0;
				 margin: 0;
		 }
		 */
	 </style>
</head>
<body>
	<div class="container sansserif">
	  <div class="item title">Santa Barbara County Ocean Water Quality Reports</div>
	  	<div class="item map-panel detail-panel-col">
				<div id='map'></div>
		</div>
	</div>
	<!-- Set the url root -->
	<script type=text/javascript>
  	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
	<script>
		// Make basemaps
		var streetsnight = L.esri.Vector.basemap('StreetsNight');
		var imageryesri = L.esri.basemapLayer('Imagery');
		var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			 attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'})

		var pointstyle = {
			radius: 8,
			fillColor:"#aba9db",
			color: "#000",
			weight: 1,
			fillOpacity: 0.7
		};

		// intilize map with basemap:
		var map = L.map('map',
			{layers: [osm]}).setView([34.41,-119.86],15);
		var waterquality_geojson = {{beachgeojson|tojson}}
		var standards = {{standards|tojson}}
		console.log(standards)
		beachreports = L.geoJSON(waterquality_geojson, {
			pointToLayer: function(feature, latlng){
				if (feature.properties.BeachStatus == "Open"){
					var beach_icon = L.icon({
						iconUrl: 'static/images/beach_open.svg',
						iconSize: [50, 50]
					});
				}else if (feature.properties.BeachStatus == "Warning"){
					var beach_icon = L.icon({
						iconUrl: 'static/images/beach_warning.svg',
						iconSize: [50, 50]
					});
				}else if (feature.properties.BeachStatus == "Closed"){
					var beach_icon = L.icon({
						iconUrl: 'static/images/beach_closed.svg',
						iconSize: [50, 50]
					});
				}
				return L.marker(latlng,{icon: beach_icon});
			},
			onEachFeature: function(feature,layer){
				layer.bindPopup(
					'<span style="border-bottom:#7b9798  solid 2px"><b>' + feature.properties.Name + '</b></span>' +
					'<span><br> PDF Report Date: <b>' + feature.properties.insDate + '</b></span>' +
					'<br><span> Beach status: <b>' + feature.properties.BeachStatus + '</b></span>' +
					'<br><span> Fecal Coliform Count: <b>' + subten(feature.properties.FecColi) + '</b> (' + standards["Fecal Coliform State Health Standard"] + ')</span>' +
					'<br><span> Total Coliform Count: <b>' + subten(feature.properties.TotColi) + '</b> (' + standards["Total Coliform State Health Standard"] + ')</span>' +
					'<br><span> Enterococcus Count: <b>' + subten(feature.properties.Entero)    + '</b> (' + standards["Enterococcus State Health Standard"] + ')</span>' +
					'<br><span> Exceeds Coliform Ratio: <b>' + subten(feature.properties.ExceedsRatio) + '</b></span>' +
					'<br><span><b> *</b>Results are given as MPN (most probable number), an approximation of bacteria per 100 ml of water.<span>' +
					'<br><span><b> **</b>State Health Standards are enclosed with parentheses, (), as MPN.</span>'
				)
			}
		}).addTo(map);

		//var server_livepts = $SCRIPT_ROOT + '/api/v0.1/getgeojson'
		//var server_tracks = $SCRIPT_ROOT + '/api/v0.1/gettracks'
		// Basemaps dictionary
		var basemaps = {
			"<span>Streets Night (Vector)</span>": streetsnight,
			"<span>Imagery (Raster)</span>": imageryesri,
			"<span>OSM (Vector)</span>": osm
		};

		var layers = {
			"<span><b>Beaches</b></span>":beachreports
		}
		//Add control menu for basemaps
		L.control.layers(basemaps,layers).addTo(map);
		//This requires HTTPS to work!
		//L.control.locate({drawCircle: false, showCompass: false}).addTo(map);

		map.addControl(new L.Control.Search({layer: beachreports}));
		
	</script>
</body>
</html>
