<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Leaflet Map</title>
	<!-- CDN files-->
	<!-- Leaflet css-->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>
	<!-- Other imports! -->
	<!-- leaflet Javascript-->
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
	<!--jquery adds "$." functionality-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Load Esri Leaflet from CDN, stable -->
	<script src="https://unpkg.com/esri-leaflet@2.4.0/dist/esri-leaflet.js"
	integrity="sha512-kq0i5Xvdq0ii3v+eRLDpa++uaYPlTuFaOYrfQ0Zdjmms/laOwIvLMAxh7cj1eTqqGG47ssAcTY4hjkWydGt6Eg=="
	crossorigin=""></script>
	<!-- Esri Leaflet and Esri Leaflet Vector, experimential -->
	<script src="https://unpkg.com/esri-leaflet/dist/esri-leaflet.js"></script>
	<script src="https://unpkg.com/esri-leaflet-vector/dist/esri-leaflet-vector.js"></script>
	<!-- Esri vector tiles relies on maxbo gl -->
	<link rel="stylesheet" href="https://unpkg.com/mapbox-gl/dist/mapbox-gl.css"/>
	<script src="https://unpkg.com/mapbox-gl/dist/mapbox-gl.js"></script>

	<!-- load the latest release from the cdn automatically -->
	<script src="https://unpkg.com/esri-leaflet-vector/dist/esri-leaflet-vector-debug.js"></script>

	<!-- Leaflet Table CSS -->
	<!-- <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" /> -->
	<!-- Leaflet Table JS -->
	<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script> -->

	<!-- Locate Control, geolocation -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.72.0/dist/L.Control.Locate.min.css" />
	<script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.72.0/dist/L.Control.Locate.min.js" charset="utf-8"></script>


	<!-- Local static files-->
	<!-- leaflet Mouset Position JS-->
	<!-- leaflet Ajax JS-->
	<script src="{{ url_for('static', filename='js/leaflet.ajax.js') }}"></script>
	<!-- leaflet Ajax JS-->
	<script src="{{ url_for('static', filename='js/leaflet.ajax.min.js') }}"></script>
	<!-- Custom local javascript functions -->
	<script src="{{ url_for('static', filename='js/customfunctions.js') }}"></script>
	<!-- Custom CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/customCSS_beaches.css') }}">
	<!-- Search CSS-->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet-search.src.css') }}">
	<!-- Search JS -->
	<script src="{{ url_for('static', filename='js/leaflet-search.src.js') }}"></script>
	<style>
	/*
		body {
				 padding: 0;
				 margin: 0;
		 }
		 */
	 </style>
</head>
<body>
	<!-- <div class="container sansserif">
		<div class="item title">Santa Barbara County Ocean Water Quality Reports</div>
	  <div class="item map-panel detail-panel-col">
			<div id='map'></div>
		</div>
	</div> -->
	<div class="container sansserif">
		<div class="item titlediv">
			<div id = "Title" class="titletext">Santa Barbara County Ocean Water Quality Reports
			</div>
			<!-- See this for basic popup box: https://html-online.com/articles/simple-popup-box/ -->
			<!-- https://www.w3schools.com/howto/howto_css_modals.asp -->
			<div class="popupbuttontext">
				<button class="headerbtn" id="btn">Map Details</button>
			</div>
			<!-- Modal -->
			<!-- The Modal -->
			<div id="myModal" class="modal">
			  <!-- Modal content -->
			  <div class="modal-content">
			    <span class="close">&times;</span>
					<p><b>Map Details</b>
					<br>
					This map shows the most recent ocean water quality test results for beaches in Santa Barbara County.
					</p>
					<p>These tests are conducted by the Santa Barbara County Public Health Department Ocean Water Monitoring Program and are posted as PDFs to
					the agency's <a href="https://www.countyofsb.org/phd/oceanwatermonitoring/">website</a>.
					</p>
					<p>The data displayed on this map, accessible by clicking a beach icon or by searching for a beach using the magnifying glass icon,
					originate from these report PDFs. The County releases these reports at least weekly but may release them more frequently*. This site checks daily
					for updated information and updates records accordingly.
					</p>
					<p><b>Disclaimer</b>
					<br>
					This is an unofficial personal project and I have no affiliation with any Santa Barbara County public agencies. All provided data should be used for <b>reference</b> only,
					I hold no responsibility for the accuracy of these data or any decisions made based on information provided from the application. Use good judgement and respect any
					instructions, directives, and posted signage provided by the Santa Barbara County Public Health Department.
					</p>
					<p><b>Activate Development Notes and Data Limitations</b>
					<br>
					This website is still undergoing active development and is prone to changes and downtime without notice. I have tried my best to ensure that displayed data reflect the
					newest data available from the county, however I cannot guarantee this will always be true. Time lag exists between when the county posts new reports, usually mornings,
					and when my site checks for updates, which is around noon each day, any County releases later in the day won't be reflected until the next day. Also, due to the active
					development of the scripts that process the PDFs, certain County postings may not be handled by the script properly, requiring me to fix any bugs, which may take some time.
					</p>
					<p>
					*Amended reports may be released more frequently when a beach exceeds state health standards, requiring additional testing, or when individual beach results are still
					pending on initial weekly report release.
					</p>
					<p><b>Contact Me</b>
					<br>
					If you have any questions, feature suggestions, comments, or notice any errors/bugs feel free to email me at <span id="emailaddr"></span>
					</p>
					<p>You can visit the GitHub repo for the PDF processing script <a href= "https://github.com/gavleavitt/Water_Quality_PDF_Parsing">here</a> and the repo for the website/Leaflet application <a href= "https://github.com/gavleavitt/Flask_Website_Project">here</a>.
					</p>
			 </div>
		 </div>
			<!-- <div class="popupbuttontext"> Map Details
			</div> -->
		</div>
	  <div class="item map-panel detail-panel-col">
			<div id='map'></div>
		</div>
	</div>

	<!-- Set the url root -->
	<script type=text/javascript>
  	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
	<script>
		// Modal from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal
		// Get the modal
		var modal = document.getElementById("myModal");

		// Get the button that opens the modal
		var btn = document.getElementById("btn");

		// Get the <span> element that closes the modal
		var span = document.getElementsByClassName("close")[0];

		// When the user clicks the button, open the modal
		btn.onclick = function() {
		  modal.style.display = "block";
		}

		// When the user clicks on <span> (x), close the modal
		span.onclick = function() {
		  modal.style.display = "none";
		}

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
		  if (event.target == modal) {
		    modal.style.display = "none";
		  }
		}
		// Open modal when window loads
		window.onload = function(){
			modal.style.display = "block";
		}


		//Set email address using Javascript, harder for crawlers to grab
		var email = "gav" + "lea" + "web" + "@g" + "mail" + ".com";
		document.getElementById("emailaddr").innerHTML = "<a href='mailto:" + email + "'>" + email + "</a>"
		// Make basemaps
		var streetsnight = L.esri.Vector.basemap('StreetsNight');
		var imageryesri = L.esri.basemapLayer('Imagery');
		var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			 attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'})

		var pointstyle = {
			radius: 8,
			fillColor:"#aba9db",
			color: "#000",
			weight: 1,
			fillOpacity: 0.7
		};

		// intilize map with basemap:
		var map = L.map('map',
			{layers: [osm]}).setView([34.41,-119.86],15);
		var waterquality_geojson = {{beachgeojson|tojson}}
		var standards = {{standards|tojson}}

		beachreports = L.geoJSON(waterquality_geojson, {
			//Create custom icons for each point, depending on its open status
			pointToLayer: function(feature, latlng){
				if (feature.properties.BeachStatus == "Open"){
					var beach_icon = L.icon({
						iconUrl: 'static/images/beach_open.svg',
						iconSize: [50, 50]
					});
				}else if (feature.properties.BeachStatus == "Warning"){
					var beach_icon = L.icon({
						iconUrl: 'static/images/beach_warning.svg',
						iconSize: [50, 50]
					});
				}else if (feature.properties.BeachStatus == "Closed"){
					var beach_icon = L.icon({
						iconUrl: 'static/images/beach_closed.svg',
						iconSize: [50, 50]
					});
				}
				return L.marker(latlng,{icon: beach_icon});
			},
			//Populate popup window text for each feature
			onEachFeature: function(feature,layer){
				layer.bindPopup(
					'<div class="spanbotbord"><b>' + feature.properties.Name + '</b></div>' +
					'<span>PDF Report (Release) Date: <b>' + feature.properties.insDate + '</b></span>' +
					'<br><span>Beach status: <b>' + colortext(feature.properties.BeachStatus) + '</b></span>' +
					'<br><span>Fecal Coliform Count: <b>' + subten(feature.properties.FecColi) + '</b> (' + standards["Fecal Coliform State Health Standard"] + ')</span>' +
					'<br><span>Total Coliform Count: <b>' + subten(feature.properties.TotColi) + '</b> (' + standards["Total Coliform State Health Standard"] + ')</span>' +
					'<br><span>Enterococcus Count: <b>' + subten(feature.properties.Entero)    + '</b> (' + standards["Enterococcus State Health Standard"] + ')</span>' +
					'<br><span>Exceeds Coliform Ratio: <b>' + subten(feature.properties.ExceedsRatio) + '</b></span>' +
					'<br><span>Reporting week: <b>' +feature.properties.pdfDate + '</b></span>' +
					'<br><span><b>*</b>Results are given as MPN (most probable number), an approximation of bacteria per 100 ml of water.<span>' +
					'<br><span><b>**</b>State Health Standards are enclosed with parentheses, (), as MPN.</span>'
				)
			}
		}).addTo(map);

		//var server_livepts = $SCRIPT_ROOT + '/api/v0.1/getgeojson'
		//var server_tracks = $SCRIPT_ROOT + '/api/v0.1/gettracks'
		// Basemaps dictionary
		var basemaps = {
			"<span>Streets Night (Vector)</span>": streetsnight,
			"<span>Imagery (Raster)</span>": imageryesri,
			"<span>OSM (Vector)</span>": osm
		};
		//Styling for text of layers
		var layers = {
			"<span><b>Beaches</b></span>":beachreports
		}
		//Add control menu for basemaps
		L.control.layers(basemaps,layers).addTo(map);

		//This requires HTTPS to work!
		//L.control.locate({drawCircle: false, showCompass: false}).addTo(map);

		//Leaflet search, see https://github.com/stefanocudini/leaflet-search
		// Build search control object, set to search beach name
		var searchControl = new L.Control.Search({
			layer: beachreports,
			propertyName: 'Name',
			zoom:15,
			marker:false
		});

		//Adds a .on listener to pan to selected location and open a popup
		//See example: https://github.com/stefanocudini/leaflet-search/blob/master/examples/geojson-layer.html
		searchControl.on('search:locationfound', function(e) {
			//e.layer.setStyle({fillColor: '#3f0', color: '#0f0'});
			//Not sure how this works, opens popup
			if(e.layer._popup)
				e.layer.openPopup();
		});

		map.addControl(searchControl); // Add control to map

		//Add a legend using native Leaflet customfunctions
		var legend = L.control({position: 'bottomright'});
		//Populate legend by creating a div inside Leaflet to hold divs, images, and text
		//These will be added to the legend object using .onAdd when the container is added to the DOM
		legend.onAdd = function (map) {
	    var div = L.DomUtil.create('div', 'infolegend');
			//div.innerHTML = "<span class='legendtext'><b>Beach Status</b><br>Open<img src='static/images/beach_open.svg' class='legendicon' width='20' height='20'/></span>";
			// div.innerHTML = "<span class='legendheader spanbotbord'><b>Beach Status</b><span>"
			// div.innerHTML += "<br><img src='static/images/beach_open.svg' class='legendicon'><span class='legendtext'><b>Open</b></span>";
			// div.innerHTML += "<br><img src='static/images/beach_warning.svg' class='legendicon'><span class='legendtext'><b>Warning</b></span>";
			// div.innerHTML += "<br><img src='static/images/beach_closed.svg' class='legendicon'><span class='legendtext'><b>Closed</b></span>";
			div.innerHTML =  "<div class='legendheader spanbotbord'><b>Beach Status</b><span>"
			div.innerHTML += "<div><img src='static/images/beach_open.svg'    class='legendicon'><span class='legendtext'>Open</span></div>";
			div.innerHTML += "<div><img src='static/images/beach_warning.svg' class='legendicon'><span class='legendtext'>Warning</span></div>";
			div.innerHTML += "<div><img src='static/images/beach_closed.svg'  class='legendicon'><span class='legendtext'>Closed</span></div>";
		  return div;
		};
		// Add legend to map
		legend.addTo(map);

		var recentrecord = {{recentdate|tojson}}
		document.getElementById("Title").innerHTML += "<span style='font-size: 12px;'>(Last updated " + recentrecord + ")<span>"
	</script>
</body>
</html>
