<!DOCTYPE html>
<html>
<head>
	<title>Template Testing</title>
	{% include 'mainImports.html' %}
</head>
<body>
  <div class="container-projects sansserif">
		{% include 'navBar.html' %}
		<div class="project-content">
			<div class="title">Santa Barbara County Ocean Water Quality</div>
			<div class="separatorbar-title"></div>
			<iframe src="/sbcoceanwaterquality"></iframe>
			<div class="iframe-link">
				<a href="/sbcoceanwaterquality" target="_blank">View fullpage map</a>
			</div>
			<div class="separatorbar-title"></div>
			<h2>
				Desc
			</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Erat nam at lectus urna duis convallis convallis tellus id. Ultrices mi tempus imperdiet nulla malesuada pellentesque elit eget. Suspendisse sed nisi lacus sed viverra tellus. Fermentum et sollicitudin ac orci phasellus egestas tellus rutrum tellus. Fermentum posuere urna nec tincidunt praesent semper feugiat. Pretium aenean pharetra magna ac placerat.
			</p>
			<h3>
				Project Workflow
			</h3>
			<h4> Section Title </h4>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Erat nam at lectus urna duis convallis convallis tellus id. Ultrices mi tempus imperdiet nulla malesuada pellentesque elit eget. Suspendisse sed nisi lacus sed viverra tellus. Fermentum et sollicitudin ac orci phasellus egestas tellus rutrum tellus. Fermentum posuere urna nec tincidunt praesent semper feugiat. Pretium aenean pharetra magna ac placerat.
				</p>
			<h4> Section Title 2 </h4>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Erat nam at lectus urna duis convallis convallis tellus id. Ultrices mi tempus imperdiet nulla malesuada pellentesque elit eget. Suspendisse sed nisi lacus sed viverra tellus. Fermentum et sollicitudin ac orci phasellus egestas tellus rutrum tellus. Fermentum posuere urna nec tincidunt praesent semper feugiat. Pretium aenean pharetra magna ac placerat.
				</p>
		</div>
		{% include 'footer.html' %}
		</div>
	</div>
</body>
</html>
