<div id="myModal" class="modal">
  <div class="modal-content-container">
    <div class="close">&times;</div>
    <div class="modal-text">
      <p style="margin-top:0px;"><b>Map Details</b>
      <br>
        This map displays my personally collected and processed orthomosaic drone imagery. All these collections are non-commerical and flown under FAA recreational exception rules.
      </p>
      <p>
        This is an ongoing personal project to collect, process, and display orthomosaic imagery collected from a drone. Mission planning and execution are conducted using the <a href="https://www.dronelink.com/">Dronelink</a> web and mobile applications and all missions are flown using a DJI Mavic Mini SE.
      </p>
      <p>
        Imagery are processed into orthomosaics using the <a href="https://opendronemap.org/">OpenDroneMap</a> Command Line interface then stored within a <a href="https://aws.amazon.com/s3">Amazon S3 Bucket</a>. Data are served using <a href="https://flask.palletsprojects.com/en/2.2.x/f">Python Flask</a> and the <a href="https://pygeoapi.io/">pygeoapi</a>. Finally, <a href="https://openlayers.org/">OpenLayers</a> is used as web display application.
      </p>
      <p></p>
      <p><b>Contact Me</b>
      <br>
      If you have any questions, feature suggestions, comments, or notice any errors/bugs feel free to email me at <span id="emailaddr"></span>
      </p>
      <p>
        You can see my other projects under the <a href=/#goto-proj>projects</a> section of this site.
      </p>
      <p>You can visit my GitHub repo for this project and others <a href=https://github.com/gavleavitt/Flask_Website_Project target="_blank">here</a>.
      </p>
    </div>
 </div>
</div>
