APScheduler==3.7.0
arcgis2geojson==2.0.1
arrow==1.1.1
async-generator==1.10
Babel==2.9.1
beautifulsoup4==4.11.1
boto3==1.18.21
botocore==1.21.21
Fiona
Flask==2.0.3
Flask-BasicAuth==0.2.0
Flask-Cors==3.0.10
Flask-HTTPAuth==4.4.0
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
GeoAlchemy2==0.9.3
geojson==2.5.0
geopandas==0.9.0
google-api-core==1.31.1
google-api-python-client==2.15.0
google-auth==1.34.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0
greenlet==1.1.1
numpy==1.21.2
oauth2client==4.1.3
overpass==0.7
pandas==1.4.2
parse==1.19.0
pdfminer.six==20200517
pdfplumber==0.5.28
protobuf==3.17.3
psycopg2-binary==2.9.1
PyDrive==1.3.1
pygeoapi==0.12.0
pyOpenSSL==22.0.0
python-dateutil==2.8.2
python-dotenv==0.19.0
pytz==2021.3
PyYAML==6.0
rasterio==1.2.10
selenium==4.1.5
Shapely==1.7.1
six==1.16.0
SQLAlchemy==1.4.22
sqlathanor==0.7.0
stravalib==0.10.2
topojson==1.1
tzlocal==2.1
urllib3==1.26.6
Werkzeug==2.1.2

