<!DOCTYPE html>
<html>
<head>
	<title>5G Streetlight Pole Permitting</title>
	{% include 'mainImports.html' %}
</head>
<body>
  <div class="container-projects sansserif">
		{% include 'navBar.html' %}
		<div class="project-content">
			<div class="title">5G Streetlight Pole Permitting</div>
			<div class="separatorbar-title"></div>
				<img src="{{ url_for('mainSite_BP.static', filename='index/icons_images/streetlightpole_permitting_edited_comp.png') }}" style="margin-top:10px;">
			<div class="fullsize-link">
				<a href="{{ url_for('mainSite_BP.static', filename='index/icons_images/streetlightpole_permitting_edited_comp.png') }}" target="_blank">View fullsize image</a>
			</div>
			<div class="separatorbar-title"></div>
			<h2>
				Description
			</h2>
			<p>
				This web application allows City of Salinas Permitting staff to record and track the progress of 5G deployment permits within the city. Staff can directly edit permit Ids, notes, and statuses within the web application. This allows staff to visually track the deployment of equipment and verify the locations and ownership of poles selected for permitting.
			</p>
			<p>
				Data are stored within an ArcSDE Enterprise Geodatabase, enabling editing tracking, multi-user editing, and direct editing within ArcGIS Online.
			</p>
			<p>
				The most difficult process for this project was cleaning and quality checking the underlining data. Data had to be pulled from multiple sources to produce a complete dataset, including from CSV tables and spatial datasets. As these datasets were mismatched in time, many conflicts had to be resolved regarding new, removed, and changed poles. In addition, typos and errors were prevalent throughout the datasets along with a few errors on physical poles, requiring close review and investigation to correct.
			</p>
		</div>
		{% include 'footer.html' %}
		</div>
	</div>
</body>
</html>
