<!DOCTYPE html>
<html>
<head>
	<title>About Me</title>
	{% include 'mainImports.html' %}
</head>
<body>
  <div class="container-resume sansserif">
		{% include 'navBar.html' %}
		<div class="container-about" style="grid-row:2/3">
			<div class="title">About Me</div>
			<div class="separatorbar-title"></div>
			<div class="about-content">
				<div class="about-text">
					<h3>Gavin Leavitt</h3>
					<img id="image-me" src="{{ url_for('mainSite_BP.static', filename='aboutme/icons_images/imgme1_comp.png') }}">
					<p>
					<!-- <img id="image-me" src="static/images/imgme1.png" style="height:250px;min-width:250px;float:left;margin-right:30px;border-radius:50%;"> -->
					I am an environmental scientist with a strong interest in working to expand our understanding of human impacts on the natural environment. My goal is to mitigate these impacts and conserve natural resources by providing
					policy-makers with information that is based on rigorous science that incorporates all available data, technologies, and stakeholders. I see spatial data, analytics, and visualizations as critical tools to this process. I
					have spent my education and professional careers working to expand my knowledge of environmental policy, ecological data collection, and the application of these tools. While working with these technologies and
					techniques can be difficult, especially for those of us without computer science backgrounds, I appreciate the powerful utility they provide and enjoy the challenge.
					</p>
					<p>
						My professional interests include terrestrial and marine science, remote sensing, ecosystem and habitat modeling, climate science, live tracking of assets and animals, species protection, natural resource multi-use policies, and environmental conservation.
					</p>
					<p>
						With the City of Salinas, I worked to expand the City’s geographic information system (GIS) capabilities. Significant projects include digitizing the City’s Sanitary Sewer and Municipal Separate Storm Sewer System (MS4) into GIS using historic engineering and development plans.
						I also built a <a href=/projects/sanitarysewertraceapp>Web Map Application</a> that enables city staff to estimate the size of sewer spills and affected homes using the location of the sewer main break. This tool allows the City to meet rapid reporting requirements while providing a repeatable, defensible, and data-driven estimate.
					</p>
					<p>
						Recently I have begun exploring open source web development, mapping, and database management as tools to collect and display spatial data. These projects, along with select projects I did with the City of Salinas, can be found in my <a href=/#goto-proj>Projects section</a>.
					</p>
					<p>
						In my free time I enjoy mountain biking and road cycling. I hope to see you out on the single-track!
					</p>
				</div>
			</div>
		</div>
		{% include 'footer.html' %}
	</div>
</body>
</html>
