#infoModal{
  display:none;
  /* max-width: 10%; */
}
.action_btns{
  /* width:30px; */
  /* height:25px; */
  /* border-radius: 5px; */
  cursor: pointer;
  border-radius: 10px;
  padding: 8px;
  /* border: 2px solid #017EFF; */
  background: #017EFF;
  color: white;
  /* font-style: bold; */
  font-weight: bold;
  border: none;
}
.action_btns> * {
  /* Turn off pointer events for all elements under action-btn, this prevents the clicked items from appeared as targets within event listeners */
  pointer-events: none;
}
.action_btns:hover{
  background: #08488A;
}
.btntxt{
padding-left: 5px;
}
.popbtngrp{
  display: flex;
  margin-top: 5px;
  justify-content: space-evenly;
}
.modal-content-container-info{
  max-width: 20%;
  position: relative;
}
.infomodal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  padding-top: 250px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  /* border-radius: 30px;
  border: 2px solid #888; */
}
#infoClose {
  color: #aaaaaa;
  font-size: 32px !important;
  font-weight: bold;
  /* margin-top: -10px; */
  position: absolute;
  right: 12px;
  /* position: fixed; */
  /* right: 46%; */
  /* right: 12%; */
  /* transform: translateX(-12%); */
}

.titletext {
  align-items: unset;
}
/* .ol-layerswitcher .ol-layer-group {
  margin-top: -2em;
} */
.layertogglebtn{

}
.ol-layerswitcher{
  margin-right: 10px;
}
/* .toggleVisibility {
  padding-left: 1.6em;
  cursor: pointer;
  border-bottom: 2px solid rgb(51, 102, 153);
  margin-bottom: 0.5em;
} */
.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 400px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.popup-header{
  font-weight: bold;
  font-size: 16px;
  border-bottom: 2px solid black;
  /* padding-bottom: 10px; */
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}

.ol-header{
  display: none;
}
.ol-layerswitcher .panel li label {
  /* Change to adjust subtext visibility */
  height: unset;
  max-width: 20em;
}

/* .ol-layerswitcher .panel li{
  height: 60px;
} */

.ol-layerswitcher.ol-collapsed {
  min-width: unset;
  width: 35px;
  height: 35px;
  padding: 0px;
}
.ol-layerswitcher,
.ol-layerswitcher.ol-forceopen {
  width: 400px;
  min-width: 20em;
}

.ol-layerswitcher > ul.panel {
  overflow-y: auto;
  box-sizing: border-box;
}

.ol-layerswitcher li .li-content {
  /* width: calc(100% - 3em); */
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
}

.ol-layerswitcher li .li-content label {
  /* width: 60%; */
  width: 56%;
  box-sizing: border-box;
  vertical-align: middle;
  /* margin: .6em 0; */
    margin: .1em 0;
}

.ol-layerswitcher .panel li .layerswitcher-opacity {
  width: 20%;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  vertical-align: middle;
  margin: 0;
}
.ol-layerswitcher .layerswitcher-opacity {
  border:0;
  background: none;
  height: 1em;
  box-shadow: none;
}
.ol-layerswitcher .layerswitcher-opacity:before {
  content: "";
  width: 100%;
  height: 3px;
  background: #017eff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 1px solid #017eff;
  box-sizing: border-box;
}
.ol-layerswitcher .layerswitcher-opacity .layerswitcher-opacity-cursor {
  width: auto;
  transform: translateY(-50%);
  height: 3px;
  right: 0;
  background: #666;
  border-radius: 0;
}
.ol-touch .ol-layerswitcher .layerswitcher-opacity .layerswitcher-opacity-cursor,
.ol-layerswitcher .layerswitcher-opacity .layerswitcher-opacity-cursor:before {
  position: absolute;
  transform: translate(-50%,-50%);
  width: 6px;
  height: 16px;
  left: -1px;
  border-radius: 0;
  background: #017eff;
}
.ol-layerswitcher .layerswitcher-opacity-label {
  display: block;
  right: 35%;
  bottom: 70%;
  font-size: 0.6em;
  user-select: none;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}

.ol-layerswitcher .layerup {
  /* width: 2em; */
  /* background: #017EFF; */
  /* position: absolute; */
  background: none;
  /* top: 18px; */
  /* right: 50px; */
  /* float: right; */
  height: 2.5em;
  z-index: 1;
  /* background-color: #369; */
  /* opacity: 0.5; */
  cursor: move;
  cursor: ns-resize;
}
.ol-layerswitcher .layerup:after {
  content:none;
}
 .ol-layerswitcher .layerup:before {
  color: #017eff;
  position: static;
  content: "\F0C9";
  font-family: FontAwesome;
  border: 0;
  /* top: 50%; */
  transform: translateY(-50%);
  /* height: 1em; */
  /* left: .5em; */
}

.ol-layerswitcher [type=checkbox]+label:before,
.ol-layerswitcher [type=radio]+label:before {
  content: '';
  border: 2px solid #ccc;
  background-color: transparent;
}
.ol-layerswitcher [type=checkbox]:checked+label:before,
.ol-layerswitcher [type=radio]:checked+label:before {
  background: #017eff;
  border-color: #017eff;
}
.ol-layerswitcher [type=checkbox]:checked+label:after{
  content: "\2713";
  color: #fff;
  position: absolute;
  top: -.15em;
  left: 0.25em;
  cursor: pointer;
  font-weight: 900;
  text-shadow: 1px 1px #fff;
  font-size: 1.2em;
  transform: none;
  border: 0;
  box-shadow: unset;
}

.ol-layerswitcher [type="radio"]:checked+label:after {
  content: none;
}

.ol-control.ol-layerswitcher {
  background: #017eff;
  right: 0;
  border-radius: 0;
}
.ol-layerswitcher button,
.ol-layerswitcher button:focus,
.ol-layerswitcher button:hover {
  background: #017eff;
  border: 0;
  user-select: none;
  outline: none;
}
.ol-layerswitcher button:before {
  background: #017eff;
  -webkit-box-shadow: 0.1em 0.1em #fff;
  box-shadow: 0.1em 0.1em #fff;
}
.ol-layerswitcher button:after {
  background: #fff;
  background-image: none;
}
.ol-layerswitcher-buttons{
  position: absolute !important;
  z-index: 1;
  /* top: 40px; */
  right:15px;
}
.visible .ol-layer-vectorimage{
  /* Turning this on causes the layer group to display oddly */
  /* height:50px; */
  padding-top: 5px;
  padding-bottom: 5px;
}


/* .ol-layerswitcher .ol-layer-group > .ol-layerswitcher-buttons .layerInfo {
  display: none;
} */
.ol-layerswitcher .expend-layers:before, .ol-layerswitcher .collapse-layers:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -2px;
  height: 4px;
  width: 100%;
  background: #369;
}
/* .ol-layerswitcher .expend-layers,
.ol-layerswitcher .collapse-layers {
  top: -1em;
} */
.ol-layerswitcher .expend-layers:before,
.ol-layerswitcher .expend-layers:after,
.ol-layerswitcher .collapse-layers:before,
.ol-layerswitcher .collapse-layers:after {
  background: #017eff;
}
.ol-layerswitcher .panel ul {
  overflow: visible;
}
.ol-layerswitcher .layerInfo {
  /* right: -.5em; */
  right: -2px;
  background: #017eff;
}


.ol-control.ol-layerswitcher .ol-switchertopdiv,
.ol-control.ol-layerswitcher .ol-switcherbottomdiv {
  display: none!important;
}
